<footer>
	<div class="footerSection">
		<div class="container-fluid">
			<div class="footerInnerCol">
				<div class="row align-items-center">
						<div class="col-sm-4">
							<div class="footerimgLeft">
								<img src="<%= image_url('logo-white-flat.png') %>" lat="white-logo">
							</div>
						</div>
						<div class="col-sm-4">
							 <div class="footerLogo">
								 <span>&nbsp;&nbsp;</span>
							</div>
						</div>
						<div class="col-sm-4">
							 <div class="footerimgRight">
								 <a href="<%= configatron.instagram_link %>" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							</div>
						</div>
				 </div>
			</div>
		</div>
	</div>
</footer>
