<footer>
  <div class="footerCol">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-auto">
          <div class="footerLogo">
            <a href="javascript:void(0)"><img src="assets/logo.svg" alt="..."></a>
          </div>
        </div>
        <div class="col-md">
          <div class="footerLinks">
            <ul>
              <li><a href="javascript:void(0)">TERMS & CONDITION</a></li>
              <li><a href="javascript:void(0)">PRIVACY POLICY</a></li>
              <li><a href="javascript:void(0)">CONTACT</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-auto">
          <div class="socialIcons">
            <ul>
              <li><a href="javascript:void(0)"><img src="assets/facebook-icon.png" alt="..."></a></li>
              <li><a href="javascript:void(0)"><img src="assets/insta-icon.png" alt="..."></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyright">
        Copyright © 2019 • GOX All Rights Reserved
      </div>
    </div>
  </div>
</footer>
