<footer class="container_wrap socket_color" id="socket" role="contentinfo" itemscope="itemscope" itemtype="https://schema.org/WPFooter">
   <div class="container">
      <span class="copyright">© Copyright  - <a href="http://www.galosolutions.com">Galo Solutions</a></span>
      <ul class="noLightbox social_bookmarks icon_count_3">
         <li class="social_bookmarks_twitter av-social-link-twitter social_icon_1"><a target="_blank" href="http://twitter.com/" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello" title="Twitter"><span class="avia_hidden_link_text">Twitter</span></a></li>
         <li class="social_bookmarks_dribbble av-social-link-dribbble social_icon_2"><a target="_blank" href="http://dribbble.com/" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello" title="Dribbble"><span class="avia_hidden_link_text">Dribbble</span></a></li>
         <li class="social_bookmarks_facebook av-social-link-facebook social_icon_3"><a target="_blank" href="http://facebook.com/" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello" title="Facebook"><span class="avia_hidden_link_text">Facebook</span></a></li>
      </ul>
      <nav class="sub_menu_socket" role="navigation" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
         <div class="avia3-menu">
            <ul id="avia3-menu" class="menu">
							<li id="menu-item-467" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-top-level menu-item-top-level-2"><a href="<%= contact_path %>" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Contact</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
               <li id="menu-item-469" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-top-level menu-item-top-level-3"><a target="_blank" href="#" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Privacy Policy</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
            </ul>
         </div>
      </nav>
   </div>
   <!-- ####### END SOCKET CONTAINER ####### -->
</footer>
