<footer>
	<div class="footerSection" style="padding:10px 0px;">
		<div class="footerInnerCol">
			<div class="row">
					<div class="col" style="padding-right:0px;">
						<div class="footerimgLeft">
							<a href="<%= configatron.instagram_link %>" target="_blank"><img src="<%= image_url('logo-white-flat.png') %>" style="max-width:100px;" ></a>
						</div>
					</div>
					<div class="col-xs-6" style="padding-left:0px;">
						 <div class="footerimgRight">
							 <a href="<%= configatron.instagram_link %>" target="_blank"><i class="fa fa-instagram" aria-hidden="true" style="font-size:15px;"></i></a>
						</div>
					</div>
			 </div>
		</div>
	</div>
</footer>
