<header class="navsec">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark align-items-center">
      <a class="navbar-brand glitch" href="/" data-text="Strobocops">
				<span class="glitch__color glitch__color--red"><img src="assets/logo.svg" alt="Logo"/></span>
				<span class="glitch__color glitch__color--blue"><img src="assets/logo-green.svg" alt="Logo"/></span>
				<span class="glitch__color glitch__color--green"><img src="assets/logo-blue.svg" alt="Logo"/></span>
				<span class="glitch__main"><img src="assets/logo.svg" alt="Logo"/></span>
			</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav main-menu mr-auto align-items-center" style="width:70%;">
	  <li class="nav-item <%= 'active' if request.path == games_path || request.path == explore_path || request.path == clips_path %>">
            <a class="nav-link" href="/explore">Explore</a>
          </li>
					<li class="nav-item <%= 'active' if request.path == following_path %>">
            <a class="nav-link" href="/following">Following</a>
          </li>
	<li style="width:50%">
          <form>
            <div class="headersearch">
	      <div class="cstmsearch">
                <input class="form-control mr-sm-2" id="searchInput" type="search" placeholder="Search" aria-label="Search">
                <span class="searchImg">
                  <img class="searchGreen" src="assets/searchicongreen.png" alt="...">
                  <img class="searchClr" src="assets/searchiconblue.png" alt="...">
                </span>
              </div>
              <div class="searchdropdown" id="searchdropdownsec">
                <div class="titledropdown">
                  <h4>Top Results</h4>
                </div>
                <div class="searchlist">
                  <div class="listheader">
                    <div class="row align-items-center mt-2">
                      <div class="col-xl-6 col-lg-6">
                        <div class="searchlisttitle">
                          <h4>Games</h4>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 text-right">
                        <div class="seeallmenu d-flex justify-content-end">
                          <a href="#">see all</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="listcontent mt-2 pb-2 borderbtm">
                    <div class="style1 d-flex align-items-center">
                      <div class="listimg">
                        <img src="assets/cardimg-2.jpg" >
                      </div>
                      <div class="listcontentinner">
                        <h3>Fortnite</h3>
                        <div class="listimgsec">
                          <img src="assets/eye.png"  /> 335k viewers
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="listheader mt-3">
                    <div class="row align-items-center mt-2">
                      <div class="col-xl-6 col-lg-6">
                        <div class="searchlisttitle">
                          <h4>Live Now</h4>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 text-right">
                        <div class="seeallmenu d-flex justify-content-end">
                          <a href="#">see all</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="listcontent mt-2 pb-2">
                    <div class="style2 d-flex align-items-center">
                      <div class="listimg">
                        <img src="assets/searchbigimg.png" >
                      </div>
                      <div class="listcontentinner">
                        <h3>Clip Title</h3>
                        <h4>Username a</h4>
                        <div class="listimgsec">
                          <img src="assets/remote.png"  /> Fortnite
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="listcontent mt-2 pb-2 borderbtm">
                    <div class="style2 d-flex align-items-center">
                      <div class="listimg">
                        <img src="assets/searchbigimg.png" >
                      </div>
                      <div class="listcontentinner">
                        <h3>Clip Title</h3>
                        <h4>Username a</h4>
                        <div class="listimgsec">
                          <img src="assets/remote.png"  /> Fortnite
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="listheader mt-3">
                    <div class="row align-items-center mt-2">
                      <div class="col-xl-6 col-lg-6">
                        <div class="searchlisttitle">
                          <h4>Clips</h4>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 text-right">
                        <div class="seeallmenu d-flex justify-content-end">
                          <a href="#">see all</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="listcontent mt-2 pb-2">
                    <div class="style2 style3 d-flex align-items-center">
                      <div class="listimg">
                        <img src="assets/searchbigimg.png" >
                      </div>
                      <div class="listcontentinner">
                        <h3>Clip Title</h3>
                        <h4>Username a</h4>
                        <div class="viewsec">
                          <ul>
                            <li>137k views</li>
                            <li>1 hours ago</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="listcontent mt-2 pb-2 borderbtm">
                    <div class="style2 style3 d-flex align-items-center">
                      <div class="listimg">
                        <img src="assets/searchbigimg.png" >
                      </div>
                      <div class="listcontentinner">
                        <h3>Clip Title</h3>
                        <h4>Username a</h4>
                        <div class="viewsec">
                          <ul>
                            <li>137k views</li>
                            <li>1 hours ago</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="listheader">
                    <div class="row align-items-center mt-2">
                      <div class="col-xl-6 col-lg-6">
                        <div class="searchlisttitle">
                          <h4>Streamers</h4>
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 text-right">
                        <div class="seeallmenu d-flex justify-content-end">
                          <a href="#">see all</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="listcontent mt-2 pb-2">
                    <div class="streamer d-flex align-items-center">
                      <div class="listimg">
                        <img src="assets/streamer-img-1.jpg" >
                      </div>
                      <div class="listcontentinner">
                        <h3>Lorem <img src="assets/circlecheck.svg" /></h3>
                        <div class="listimgsec">
                          2.3M Followers
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="listcontent mt-2">
                    <div class="streamer d-flex align-items-center">
                      <div class="listimg">
                        <img src="assets/streamer-img-1.jpg" >
                      </div>
                      <div class="listcontentinner">
                        <h3>Lorem <img src="assets/circlecheck.svg" /></h3>
                        <div class="listimgsec">
                          2.3M Followers
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
         </li>
        </ul>
        <ul class="navbar-nav ml-auto acountsmenu <%= 'd-none' if request.path == registered_path || request.path.include?('profile') %>">
          <li class="loginmenu">
            <a href="#" class="btn btn-outline-primary minWdBtn" data-toggle="modal" data-target="#loginsignupmodal">Log in</a>
          </li>
          <li class="loginmenu">
            <a href="#" class="btn btn-primary minWdBtn bgblue" data-toggle="modal" data-target="#loginsignupmodal">Sign up</a>
          </li>
        </ul>
				<ul class="navbar-nav ml-auto afterlogin align-items-center <%= 'd-none' unless request.path == registered_path || request.path.include?('profile') %>">
          <li class="golivemenu">
            <a href="#" class="btn btn-outline-primary blueclr"><img src="assets/videoicon_blue.png" alt="...">Go Live</a>
          </li>
          <li class="notificationmenu">
						<a href="#" class="notificationavailable">

							<span class="notificationIMg">
								<img class="notificationblue" src="assets/notification-blue.png" alt="...">
								<img class="notificationclr" src="assets/notification-clr.png" alt="...">
							</span>
              <span class="notifiactionSub">3</span>

            </a>
            <div class="notificationdropdown">
              <div class="notificationheader">
                <div class="notificationtitle">
                  <h3>Notification</h3>
                </div>
                <div class="notificationicon">
                  <img src="assets/settings.png" alt="">
                </div>
              </div>
              <div class="notificationcontent">
                <div class="notificationlist pt-2 pb-2">
                  <div class="notificationimg">
                    <img src="assets/notificationimg.png" class="brleft" alt="">
                  </div>
                  <div class="notificationcontentsec">
                    <h5>Streamer A sent you a message</h5>
                    <h6>3 months ago</h6>
                  </div>
                </div>
                <div class="notificationlist pt-2 pb-2">
                  <div class="notificationimg">
                    <img src="assets/notificationimg.png" class="brleft" alt="">
                  </div>
                  <div class="notificationcontentsec">
                    <h5>Streamer A sent you a message</h5>
                    <h6>3 months ago</h6>
                  </div>
                </div>
                <div class="goxlogo text-center">
                  <img src="assets/logo.svg" alt="" style="width:20%">
                </div>
              </div>
              <div class="seeallbtn text-right">
                <a href="#">see all</a>
              </div>
            </div>
          </li>
          <li class="usermenu">
            <a href="#">
              <span class="brleft usercontent">
                <img class="brleft" src="assets/clipimg.jpg" alt="..." />
              </span>
              <p>
                <span class="username">
                  <font style="margin-right:5px;">Anna</font>
                  <small><img src="assets/circlecheck.svg" alt="..." /></small>
                </span>
                <span class="nottext">Hi, follow my live stream</span>
              </p>
            </a>
            <div class="userdropdown">
              <ul class="pb-3">
                <li>
                  <a href="/profile">
                    <img src="assets/profile.png" alt="...">Profile
                  </a>
                </li>
                <li>
                  <a href="/profile-dashboard-live">
                    <img src="assets/dashboard.png" alt="...">Dashboard
                  </a>
                </li>
              </ul>
              <ul class="pt-3 pb-3">
                <li>
                  <a href="/profile-friends">
                    <img src="assets/friends.png" alt="...">Friends
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="assets/payments.png" alt="...">Payments
                  </a>
                </li>
                <li>
                  <a href="/streaming-tools">
                    <img src="assets/icon-streaming-tools.png" alt="...">Streaming Tools
                  </a>
                </li>
              </ul>
              <ul class="pt-3">
                <li>
                  <a href="#">
                    <img class="chatimg" src="assets/chat.png" alt="...">Chat
                  </a>
                </li>
                <li>
                  <a href="/profile-settings">
                    <img src="assets/settings.png" alt="...">Settings
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="assets/logout.png" alt="...">Log Out
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
