<section style="height:100vh;padding-top:40%;background-color:#7AA575;">
	<div class="customContent">
		<div class="container tagline" style="padding-right:50px;">
			<div class="customText">
				<h1 style="color:white">
					ABOUT US
				</h2>
				<h2 style="color:white">
					WE FOCUS ON ARCHITECTURE THAT IS EASY GOING IN WHICH DIRECTLY CONNECTS TO SSOM STUDIO’S TROPICAL ROOTS. SSOM STUDIO IS YOUR TOTAL PARTNER IN ARCHITECTURE /INTERIOR DESIGN, LAND DEVELOPMENT & CONSTRUCTION. WE APPLY THOROUGH ATTENTION IN OUR ARCHITECTURE PRODUCTION OF EVERY SCALE PROJECTS, FOR EACH ONE IS A MODULE TO REACH A BIGGER ARCHITECTURAL STEP AHEAD FOR THE SUPPLE SHAPES OF MODERN MOVEMENTS.
				</h2>
			</div>
		</div>
	</div>
</section>
