<section>
	<div class="lower-banner">
		<div class="container">
				<div class="title-heading titleWhite">
					<h2>
						SUPPLE SHAPES OF MODERN APPLIES EDGE & BEYOND TOWARDS COMMUNITY DRIVEN BUILDINGS
					</h2>
				</div>
		</div>
	</div>
</section>
