<section>
	<div class="lower-banner">
		<div class="container">
				<div class="title-heading titleWhite">
					<h2>
						SSom studio focus in architecture with easy going lifestyle background connected to ssom studio’s tropical roots.
					</h2>
				</div>
		</div>
	</div>
</section>
