<section>
  <div class="mainSliderSection">
    <div class="container">
      <div class="sliderCol">
        <div class="homeSlider slickStyle">
          <div>
						<div class="mainSlideCol">
							<div class="mainSlideImg">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item" width="100%" src="https://www.youtube.com/embed/MLK7zb29zsE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
								</div>
							</div>
							<div class="slideUserInfo">
								<div class="slideUserInfoImg"><a href="javascript:void(0)"><img src="assets/userimg.png" alt="..."></a></div>
								<span class="cardUserName text-truncate"><a href="javascript:void(0)"><span>Streamer</span></a> <span class="userCheckIcon"><img src="assets/circlecheck.svg" alt="..."></span> </span>
								<span class="gameName text-truncate">Devil May Cry</span>
							</div>
						</div>
          </div>
          <div>
						<div class="mainSlideCol">
							<div class="mainSlideImg">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item" width="100%" src="https://www.youtube.com/embed/VIq6UThqqIg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
								</div>
							</div>
							<div class="slideUserInfo">
								<div class="slideUserInfoImg"><a href="javascript:void(0)"><img src="assets/userimg.png" alt="..."></a></div>
								<span class="cardUserName text-truncate"><a href="javascript:void(0)"><span>Streamer</span></a> <span class="userCheckIcon"><img src="assets/circlecheck.svg" alt="..."></span> </span>
								<span class="gameName text-truncate">Devil May Cry</span>
							</div>
						</div>
          </div>
          <div>
						<div class="mainSlideCol">
							<div class="mainSlideImg">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item" width="100%" src="https://www.youtube.com/embed/GdNNPIcYWuE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
								</div>
							</div>
							<div class="slideUserInfo">
								<div class="slideUserInfoImg"><a href="javascript:void(0)"><img src="assets/userimg.png" alt="..."></a></div>
								<span class="cardUserName text-truncate"><a href="javascript:void(0)"><span>Streamer</span></a> <span class="userCheckIcon"><img src="assets/circlecheck.svg" alt="..."></span> </span>
								<span class="gameName text-truncate">Devil May Cry</span>
							</div>
						</div>
          </div>
          <div>
						<div class="mainSlideCol">
							<div class="mainSlideImg">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item" width="100%" src="https://www.youtube.com/embed/MLK7zb29zsE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
								</div>
							</div>
							<div class="slideUserInfo">
								<div class="slideUserInfoImg"><a href="javascript:void(0)"><img src="assets/userimg.png" alt="..."></a></div>
								<span class="cardUserName text-truncate"><a href="javascript:void(0)"><span>Streamer</span></a> <span class="userCheckIcon"><img src="assets/circlecheck.svg" alt="..."></span> </span>
								<span class="gameName text-truncate">Devil May Cry</span>
							</div>
						</div>
          </div>
          <div>
						<div class="mainSlideCol">
							<div class="mainSlideImg">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item" width="100%" src="https://www.youtube.com/embed/GdNNPIcYWuE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
								</div>
							</div>
							<div class="slideUserInfo">
								<div class="slideUserInfoImg"><a href="javascript:void(0)"><img src="assets/userimg.png" alt="..."></a></div>
								<span class="cardUserName text-truncate"><a href="javascript:void(0)"><span>Streamer</span></a> <span class="userCheckIcon"><img src="assets/circlecheck.svg" alt="..."></span> </span>
								<span class="gameName text-truncate">Devil May Cry</span>
							</div>
						</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
