<style>
div.owl-item:not(.center) > .item > iframe {
	height: 350px !important;
	margin-top: 30px;
}
div.owl-item.active.center > .item > iframe {
	height: 420px !important;
	margin-top: 0px;
}
</style>
<section>
  <div class="mainSliderSection">
    <div class="container">
			<div class="owl-carousel owl-theme">
				<div class="item">
                <iframe type="text/html" width="720" height="405"
                src="https://www.youtube.com/embed/MLK7zb29zsE?modestbranding=1&autohide=1&showinfo=0&controls=1"
                frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="item">
                <iframe type="text/html" width="720" height="405"
                src="https://www.youtube.com/embed/VIq6UThqqIg?modestbranding=1&autohide=1&showinfo=0&controls=1"
                frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="item">
                <iframe type="text/html" width="720" height="405"
                src="https://www.youtube.com/embed/GdNNPIcYWuE?modestbranding=1&autohide=1&showinfo=0&controls=1"
                frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="item">
                <iframe type="text/html" width="720" height="405"
                src="https://www.youtube.com/embed/MLK7zb29zsE?modestbranding=1&autohide=1&showinfo=0&controls=1"
                frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="item">
                <iframe type="text/html" width="720" height="405"
                src="https://www.youtube.com/embed/MLK7zb29zsE?modestbranding=1&autohide=1&showinfo=0&controls=1"
                frameborder="0" allowfullscreen></iframe>
        </div>
			</div>
    </div>
  </div>
</section>
