<section style="height:100vh;padding-top:40%;background-color:#000;background-image: url(<%= image_url('exterior_brunhouse.jpg') %>);background-size: cover;background-position: 35% center;">
	<div class="customContent">
		<div class="container tagline" style="padding-right:50px;">
			<div class="customText">
				<h2 style="color:transparent;">
					SUPPLE SHAPES OF MODERN (SSOM) IS AN OFFICE FOR ARCHITECTURE AND DESIGN. FOUNDED IN 2016. SSOM STUDIO CONTINUES TO BELIEVE IN THE ART OF ARCHITECTURE THAT TRANSLATES INTO A WELL CALCULATED DESIGN FROM VARIOUS SCALE OF HIGHRISE,RESORT,VILLAS,PRIVATE RESIDENTAL TO ART INSTALLATIONS.
				</h2>
			</div>
		</div>
	</div>
</section>
