	<section>
		<div class="customContent">
			<div class="container tagline">
					<div class="customText">
						<h2>
							SUPPLE SHAPES OF MODERN (SSOM) IS AN OFFICE FOR ARCHITECTURE AND DESIGN. FOUNDED IN 2016. SSOM STUDIO CONTINUES TO BELEIVE IN THE ART OF ARCHITECTURE THAT TRANSLATES INTO A WELL CALCULATED DESIGN FROM VARIOUS SCALE OF HIGHRISE,RESORT,VILLAS,PRIVATE RESIDENTAL TO ART INSTALLATIONS.
						</h2>
						</div>
						<div class="customBtn">
							<a href="/about" class="btn btnStyle">
								see more
							</a>
						</div>
			</div>
		</div>
	</section>
