	<section>
		<div class="customContent">
			<div class="container" style="margin-left: 150px; padding-right: 80px;">
					<div class="customText">
						<h2>
							supple shapes of modern (SSom) is an oofice for architecture
							and design.founded in 2016.SSOM studio continues to beleive in the art of architecture
							that trnaslates into a well calculated design from various scale of
							highrise,resort,villas,private residental to art installations
						</h2>
						</div>
						<div class="customBtn">
							<button type="button" class="btn btnStyle" style="margin-top:0px">
								<span>see more</span>
							</button>
						</div>
			</div>
		</div>
	</section>
