<section>
	<div class="container-fluid ">
		<div class="row ">
			<div class="col-md-5 pr-0">
				<div class="white-box">
						<h1>THE TEAM:</h1>
				</div>
			</div>
			<div class="col-md-7 pl-0">
					<div class="green-box"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-10">
				<div class="second-green-box d-flex">
					<div class="rovalino">
						<div class="row">
							<div class="col-md-7 col-sm-12 col-xs-12">
								<img src="<%= image_url('ovan.png') %>" />
							</div>
							<div class="col-md-5 col-sm-12 col-xs-12">
								<h6>PRINCIPAL</h6>
								<h3>ROVALINO GULTOM</h3>
							</div>
						</div>
					</div>
					<div class="bran">
						<div class="row">
							<div class="col-md-7 col-sm-12 col-xs-12">
								<img src="<%= image_url('bran.png') %>" />
							</div>
							<div class="col-md-5 col-sm-12 col-xs-12">
								<h6>PRINCIPAL</h6>
								<h3>BRAN ARIFIN</h3>
							</div>
						</div>
					</div>
					<div class="other-team">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<h6>Head of Studio</h6>
								<h4>CHIRANA SUMENDAP</h4>
								<h6>Senior Architect</h6>
								<h4>JOHAN M. SITIO</h4>
								<h6>Interior Designer</h6>
								<h4>AUSTINING S.</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
