<section>
	<div class="container-fluid ">
		<div class="row ">
			<div class="col-md-5 pr-0">
				<div class="white-box">
						<h1>THE TEAM:</h1>
				</div>
			</div>
			<div class="col-md-7 pl-0">
					<div class="green-box"></div>
			</div>
		</div>
		<div class="row ">
			<div class="col-md-2"></div>
			<div class="col-md-10 ">
				<div class="second-green-box d-flex ">
					<div class="rovalino">
						<img src="<%= image_url('ovan.png') %>" alt="rov">
						<h6>ARCHITECT</h6>
						<h3>ROVALINO</h3>
					</div>
					<div class="bran">
						<img src="<%= image_url('bran.png') %>" alt="rov">
						<h6>ARCHITECT</h6>
						<h3>BRAN</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
