<!-- imgEffectSection layout start -->
<section>
	<div class="imgEffectSection">
		<div class="container">
			<div class="imgColumn">
				<ul>
					<li>
						<span class="bgImg">
							<img src="<%= image_url('ssom_icons/1.png') %>" />
						</span>
						<span class="bgTransImg">
							<img src="<%= image_url('ssom_icons/1.png') %>" />
						</span>
					</li>
					<li>
						<span class="bgImg">
							<img src="<%= image_url('ssom_icons/2.png') %>" />
						</span>
						<span class="bgTransImg">
							<img src="<%= image_url('ssom_icons/2.png') %>" />
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
