<div id="full_slider_1" class="avia-fullwidth-slider main_color avia-shadow   avia-builder-el-0  el_before_av_layout_row  avia-builder-el-first  container_wrap fullsize">
   <div data-size="featured_large" data-lightbox_size="large" data-animation="fade" data-conditional_play="" data-ids="268,269" data-video_counter="0" data-autoplay="false" data-bg_slider="false" data-slide_height="" data-handle="av_slideshow_full" data-interval="5" data-class=" " data-css_id="" data-scroll_down="" data-control_layout="av-control-minimal" data-custom_markup="" data-perma_caption="" data-autoplay_stopper="" data-image_attachment="" data-min_height="0px" data-src="" data-position="top left" data-repeat="no-repeat" data-attach="scroll" data-stretch="" data-default-height="42" class="avia-slideshow avia-slideshow-1  av-control-minimal avia-slideshow-featured_large av_slideshow_full   avia-fade-slider" itemprop="ImageObject" itemscope="itemscope" itemtype="https://schema.org/ImageObject">
      <ul class="avia-slideshow-inner " style="padding: 0px;">
         <li class="slide-1  active-slide" style="visibility: visible; opacity: 1; transition: none 0s ease 0s; transform: translateZ(0px);">
            <div data-rel="slideshow-1" class="avia-slide-wrap ">
               <div class="caption_fullwidth av-slideshow-caption caption_bottom">
                  <div class="container caption_container">
                     <div class="slideshow_caption">
                        <div class="slideshow_inner_caption">
                           <div class="slideshow_align_caption">
                              <h2 class="avia-caption-title " itemprop="name">Dicky Adiwoso</h2>
                              <div class="avia-caption-content  " itemprop="description">
                                 <p>Professional Photographer</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
							 <img src="<%= image_url('about-bio.png') %>" title="Dicky Adiwoso" alt="" style="left: 0px;">
            </div>
         </li>
      </ul>
   </div>
</div>
<div id="av-layout-grid-1" class="av-layout-grid-container entry-content-wrapper main_color av-flex-cells    avia-builder-el-1  el_after_av_slideshow_full  el_before_av_section  submenu-not-first container_wrap fullsize">
   <div class="flex_cell no_margin av_one_third  avia-builder-el-2  el_before_av_cell_one_third  avia-builder-el-first   " style="vertical-align:top; padding:30px; ">
      <div class="flex_cell_inner">
         <div style="padding-bottom:10px; " class="av-special-heading av-special-heading-h3    avia-builder-el-3  el_before_av_textblock  avia-builder-el-first   ">
            <h3 class="av-special-heading-tag " itemprop="headline">What I do</h3>
            <div class="special-heading-border">
               <div class="special-heading-inner-border"></div>
            </div>
         </div>
         <section class="av_textblock_section " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
            <div class="avia_textblock  " itemprop="text">
               <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
            </div>
         </section>
      </div>
   </div>
   <div class="flex_cell no_margin av_one_third  avia-builder-el-5  el_after_av_cell_one_third  el_before_av_cell_one_third   " style="vertical-align:top; padding:30px; background-color:#f7f7f7; ">
      <div class="flex_cell_inner">
         <div style="padding-bottom:10px; " class="av-special-heading av-special-heading-h3    avia-builder-el-6  el_before_av_textblock  avia-builder-el-first  ">
            <h3 class="av-special-heading-tag " itemprop="headline">How I do it</h3>
            <div class="special-heading-border">
               <div class="special-heading-inner-border"></div>
            </div>
         </div>
         <section class="av_textblock_section " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
            <div class="avia_textblock  " itemprop="text">
               <p>Aenean massa. Cum sociis natoque peontes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
               <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliq.</p>
            </div>
         </section>
      </div>
   </div>
   <div class="flex_cell no_margin av_one_third  avia-builder-el-8  el_after_av_cell_one_third  avia-builder-el-last   " style="vertical-align:top; padding:30px; background-color:#eaeaea; ">
      <div class="flex_cell_inner">
         <div style="padding-bottom:10px; " class="av-special-heading av-special-heading-h3    avia-builder-el-9  el_before_av_textblock  avia-builder-el-first   ">
            <h3 class="av-special-heading-tag " itemprop="headline">Where I live</h3>
            <div class="special-heading-border">
               <div class="special-heading-inner-border"></div>
            </div>
         </div>
         <section class="av_textblock_section " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
            <div class="avia_textblock  " itemprop="text">
               <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
               <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
            </div>
         </section>
      </div>
   </div>
</div>
<div id="av_section_1" class="avia-section main_color avia-section-default avia-no-border-styling avia-bg-style-scroll  avia-builder-el-11  el_after_av_layout_row  el_before_av_layout_row   av-arrow-down-section container_wrap fullsize" style="background-color: #1F675F;">
   <div class="container">
      <div class="template-page content av-content-full alpha units" style="padding-top:30px;padding-bottom:30px;">
         <div class="post-entry post-entry-type-page post-entry-21">
            <div class="entry-content-wrapper clearfix">
							<p style="color:white;font-size:18px;vertical-align: baseline;text-align:center;line-height: 1.3em;">
								This is the Portfolio of Dicky Adiwoso<br/>
								Want to work with me? Drop me a mail!
							</p>
            </div>
         </div>
      </div>
      <!-- close content main div -->
   </div>
   <div class="av-extra-border-element border-extra-arrow-down">
      <div class="av-extra-border-outer">
         <div class="av-extra-border-inner" style="background-color:#1F675F;"></div>
      </div>
   </div>
</div>
<div id="av-layout-grid-2" class="av-layout-grid-container entry-content-wrapper main_color av-flex-cells    avia-builder-el-20  el_after_av_section  el_before_av_layout_row  submenu-not-first container_wrap fullsize">
   <div class="flex_cell no_margin av_one_half  avia-builder-el-21  el_before_av_cell_one_half  avia-builder-el-first   avia-full-stretch " style="height:400px; min-height:400px;background:url(https://kriesi.at/themes/enfold-photography/wp-content/uploads/sites/45/2014/08/sbg.jpg) center center no-repeat scroll; vertical-align:top; padding:30px; ">
      <div class="flex_cell_inner"></div>
   </div>
   <div class="flex_cell no_margin av_one_half  avia-builder-el-22  el_after_av_cell_one_half  avia-builder-el-last   avia-full-stretch " style="height:400px; min-height:400px;background:url(https://kriesi.at/themes/enfold-photography/wp-content/uploads/sites/45/2014/08/darkened_cloudy-hills-1030x686.jpg) center center no-repeat scroll; vertical-align:top; padding:30px; ">
      <div class="flex_cell_inner"></div>
   </div>
</div>
<div id="av-layout-grid-3" class="av-layout-grid-container entry-content-wrapper main_color av-flex-cells    avia-builder-el-23  el_after_av_layout_row  avia-builder-el-last  submenu-not-first container_wrap fullsize">
   <div class="flex_cell no_margin av_one_half  avia-builder-el-24  el_before_av_cell_one_half  avia-builder-el-first   " style="vertical-align:top; padding:40px; ">
      <div class="flex_cell_inner">
         <div style="padding-bottom:10px; " class="av-special-heading av-special-heading-h3    avia-builder-el-25  el_before_av_textblock  avia-builder-el-first  ">
            <h3 class="av-special-heading-tag " itemprop="headline">Wedding Photography</h3>
            <div class="special-heading-border">
               <div class="special-heading-inner-border"></div>
            </div>
         </div>
         <section class="av_textblock_section " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
            <div class="avia_textblock  " itemprop="text">
               <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
            </div>
         </section>
      </div>
   </div>
   <div class="flex_cell no_margin av_one_half  avia-builder-el-27  el_after_av_cell_one_half  avia-builder-el-last   " style="vertical-align:top; padding:40px; background-color:#f7f7f7; ">
      <div class="flex_cell_inner">
         <div style="padding-bottom:10px; " class="av-special-heading av-special-heading-h3    avia-builder-el-28  el_before_av_textblock  avia-builder-el-first  ">
            <h3 class="av-special-heading-tag " itemprop="headline">Landscape Photography</h3>
            <div class="special-heading-border">
               <div class="special-heading-inner-border"></div>
            </div>
         </div>
         <section class="av_textblock_section " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
            <div class="avia_textblock  " itemprop="text">
               <p>Nulla consequat massa quis enim. Donec pede jontes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
            </div>
         </section>
      </div>
   </div>
</div>
