<section>
  <div class="innerbanner sectionSpace">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="innerbannerimg">
            <img src="assets/innerbanner.jpg" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-4 mb-5 pb-4 innerpage">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="innerpagecontent maxwidth">
          <p class="lgtext">The 8 Best PH Teams will Clash at the Mobile Legends Professional League PH Grand Finals at the Music Hall, SM Mall of Asia</p>
          <h6 class="mt-4 mb-5">Which PH Mobile Legends team will be crowned king?</h6>
          <p>A total of eight teams are remaining after the action-filled regular season of the Mobile Legends Professional League Philippines. The country’s best ML teams are now headed to a grand two-day event at the Music Hall, SM Mall of Asia, for the MPL Philippines Grand Finals. Only one team will take home the lion’s share of the USD 50,000 + USD 14,168 grand cash prize and the first MPL Philippines crown.</p>
          <p>Moonton, the creators and developers of Mobile Legends: Bang Bang, is committed to enriching the existing vibrant esports scene in the Philippines. MPL Philippines is the latest national tournament in the Mobile Legends Professional League series. The MPL has already crowned national champions for Indonesia and Malaysia & Singapore in the past.</p>
          <p>MET, the top esports event organizer in the Philippines, will be producing the grand finals event at the Music Hall in Mall of Asia. The Mobile Legends Professional League Philippines is only MET’s latest foray in competitive mobile esports and they promise to bring the same level of quality as any of their numerous successful events in the past.</p>
          <p>Participating ML Teams</p>
          <p>Aether Main<br>
          Aether Valkyrie<br>
          Invictus Godz<br>
          Invictus Godz<br>
          Obsidian Gaming<br>
          White Rascals<br>
          Tournament Schedule</p>
          Obsidian Gaming<br>
          Invictus Godz<br>
          Obsidian Gaming<br>
          White Rascals<br>
          Tournament Schedule</p>
          White Rascals<br>
          DigitalDevils Demon Kings<br>
          DigitalDevils No Limit<br>
          DigitalDevils Pro Gaming<br>
          Invictus Godz<br>
          Obsidian Gaming<br>
          White Rascals<br>
          Tournament Schedule</p>
          <p>June 30, 2018 – July 1, 2018<br>
          Gates Open at 10:30AM on Both Days<br>
          Tournament Venue</p>
          <p>Music Hall, SM Mall of Asia, Pasay, Philippines<br>
          The team which secures victory in the best-of-three grand finals series will be taking home the lion’s share of the USD 50,000 + USD 14,168 grand cash prize as well as the honor of being crowned the first national champions of Mobile Legends. Hundreds of hopeful teams took their chance at becoming legends and now only eight teams remain in the running to claim the highest honor in competitive Mobile Legends. Which team will rise and become legends?</p>
          <p>The Mobile Legends Professional League Philippines Grand Finals will take place on June 30, 2018 – July 1, 2018 at the Music Hall in SM Mall of Asia, Philippines. Entrance is absolutely free and fans and players are invited to join in what promises to be an exciting weekend for mobile esports</p>
          <p>For more infomation, check out <a href="#" class="clrgreen"><strong>the official site</strong></a></p></p>
        </div>
      </div>
      <div class="col-md-4 sidebarborder">
        <div class="sidebarinner">
          <h6>LOREM IPSUM</h6>
          <p>Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          <p class="mt-5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
          <img class="sidebarimg mt-5" src="assets/sidebarimg.jpg" alt="">
          <div class="socialIcons mt-5">
            <ul>
              <li><a href="javascript:void(0)"><img src="assets/facebook-icon.png" alt="..."></a></li>
              <li><a href="javascript:void(0)"><img src="assets/insta-icon.png" alt="..."></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "gox_exclusive" %>
