<section>
  <div class="sectionSpace">
    <div class="container">
			<%= render "browse_menu" %>

      <div class="catOptionResult">

        <div class="gridView">
          <div class="row">
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Lorem</a><span class="userCheckIcon"> <img src="assets/circlecheck.svg" alt="..."></span></span>
									<span class="cardusername">1,9M Followers</span>
                  <ul class="streamerCardlist pt-2">
                    <li> <a href="javascript:void(0)"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></li>
                    <li> <a href="javascript:void(0)"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Lorem</a><span class="userCheckIcon"> <img src="assets/circlecheck.svg" alt="..."></span></span>
									<span class="cardusername">1,9M Followers</span>
                  <ul class="streamerCardlist pt-2">
                    <li> <a href="javascript:void(0)"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></li>
                    <li> <a href="javascript:void(0)"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Lorem</a><span class="userCheckIcon"> <img src="assets/circlecheck.svg" alt="..."></span></span>
									<span class="cardusername">1,9M Followers</span>
                  <ul class="streamerCardlist pt-2">
                    <li> <a href="javascript:void(0)"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></li>
                    <li> <a href="javascript:void(0)"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Lorem</a><span class="userCheckIcon"> <img src="assets/circlecheck.svg" alt="..."></span></span>
									<span class="cardusername">1,9M Followers</span>
                  <ul class="streamerCardlist pt-2">
                    <li> <a href="javascript:void(0)"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></li>
                    <li> <a href="javascript:void(0)"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Lorem</a><span class="userCheckIcon"> <img src="assets/circlecheck.svg" alt="..."></span></span>
									<span class="cardusername">1,9M Followers</span>
                  <ul class="streamerCardlist pt-2">
                    <li> <a href="javascript:void(0)"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></li>
                    <li> <a href="javascript:void(0)"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Lorem</a><span class="userCheckIcon"> <img src="assets/circlecheck.svg" alt="..."></span></span>
									<span class="cardusername">1,9M Followers</span>
                  <ul class="streamerCardlist pt-2">
                    <li> <a href="javascript:void(0)"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></li>
                    <li> <a href="javascript:void(0)"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Lorem</a><span class="userCheckIcon"> <img src="assets/circlecheck.svg" alt="..."></span></span>
									<span class="cardusername">1,9M Followers</span>
                  <ul class="streamerCardlist pt-2">
                    <li> <a href="javascript:void(0)"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></li>
                    <li> <a href="javascript:void(0)"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Lorem</a><span class="userCheckIcon"> <img src="assets/circlecheck.svg" alt="..."></span></span>
									<span class="cardusername">1,9M Followers</span>
                  <ul class="streamerCardlist pt-2">
                    <li> <a href="javascript:void(0)"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></li>
                    <li> <a href="javascript:void(0)"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Lorem</a><span class="userCheckIcon"> <img src="assets/circlecheck.svg" alt="..."></span></span>
									<span class="cardusername">1,9M Followers</span>
                  <ul class="streamerCardlist pt-2">
                    <li> <a href="javascript:void(0)"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></li>
                    <li> <a href="javascript:void(0)"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Lorem</a><span class="userCheckIcon"> <img src="assets/circlecheck.svg" alt="..."></span></span>
									<span class="cardusername">1,9M Followers</span>
                  <ul class="streamerCardlist pt-2">
                    <li> <a href="javascript:void(0)"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></li>
                    <li> <a href="javascript:void(0)"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Lorem</a><span class="userCheckIcon"> <img src="assets/circlecheck.svg" alt="..."></span></span>
									<span class="cardusername">1,9M Followers</span>
                  <ul class="streamerCardlist pt-2">
                    <li> <a href="javascript:void(0)"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></li>
                    <li> <a href="javascript:void(0)"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Lorem</a><span class="userCheckIcon"> <img src="assets/circlecheck.svg" alt="..."></span></span>
									<span class="cardusername">1,9M Followers</span>
                  <ul class="streamerCardlist pt-2">
                    <li> <a href="javascript:void(0)"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></li>
                    <li> <a href="javascript:void(0)"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="listView">
          <div class="table-responsive">
            <table class="table tableStyle tdAlignCenter">
              <thead>
                <tr>
                  <th scope="col" width="90"></th>
                  <th scope="col">Streamer</th>
                  <th scope="col">Follow</th>
                  <th scope="col">Chat</th>
                  <th scope="col">Followers</th>
                  <th scope="col" width="115"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="javascript:void(0)" class="streamerListImg"><img src="assets/streamer-img-1.jpg" alt="..."></a></td>
                  <td><span class="cardTitle">Lorem</span></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></td>
                  <td>2,8 M Followers</td>
                  <td><a href="javascript:void(0)" class="btn btn-outline-primary minWdBtn">Report</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:void(0)" class="streamerListImg"><img src="assets/streamer-img-1.jpg" alt="..."></a></td>
                  <td><span class="cardTitle">Lorem</span></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></td>
                  <td>2,8 M Followers</td>
                  <td><a href="javascript:void(0)" class="btn btn-outline-primary minWdBtn">Report</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:void(0)" class="streamerListImg"><img src="assets/streamer-img-1.jpg" alt="..."></a></td>
                  <td><span class="cardTitle">Lorem</span></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></td>
                  <td>2,8 M Followers</td>
                  <td><a href="javascript:void(0)" class="btn btn-outline-primary minWdBtn">Report</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:void(0)" class="streamerListImg"><img src="assets/streamer-img-1.jpg" alt="..."></a></td>
                  <td><span class="cardTitle">Lorem</span></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></td>
                  <td>2,8 M Followers</td>
                  <td><a href="javascript:void(0)" class="btn btn-outline-primary minWdBtn">Report</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:void(0)" class="streamerListImg"><img src="assets/streamer-img-1.jpg" alt="..."></a></td>
                  <td><span class="cardTitle">Lorem</span></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></td>
                  <td>2,8 M Followers</td>
                  <td><a href="javascript:void(0)" class="btn btn-outline-primary minWdBtn">Report</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:void(0)" class="streamerListImg"><img src="assets/streamer-img-1.jpg" alt="..."></a></td>
                  <td><span class="cardTitle">Lorem</span></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></td>
                  <td>2,8 M Followers</td>
                  <td><a href="javascript:void(0)" class="btn btn-outline-primary minWdBtn">Report</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:void(0)" class="streamerListImg"><img src="assets/streamer-img-1.jpg" alt="..."></a></td>
                  <td><span class="cardTitle">Lorem</span></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></td>
                  <td>2,8 M Followers</td>
                  <td><a href="javascript:void(0)" class="btn btn-outline-primary minWdBtn">Report</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:void(0)" class="streamerListImg"><img src="assets/streamer-img-1.jpg" alt="..."></a></td>
                  <td><span class="cardTitle">Lorem</span></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></td>
                  <td>2,8 M Followers</td>
                  <td><a href="javascript:void(0)" class="btn btn-outline-primary minWdBtn">Report</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>

