<section>
  <div class="sectionSpace">
    <div class="container">
      <div class="form-row">
        <div class="col">
          <div class="titleStyle">
            <h4>FIND YOUR INTEREST</h4>
            <h5>Explanation of the section</h5>
          </div>
        </div>
      </div>
      <div class="featuredSection">
        <div class="form-row">
          <div class="col-lg-6">
            <div class="form-row">
              <div class="col-6 col-md-3">
                <div class="cardStyle cardStyle1">
                  <div class="cardImgCol cardpr">
                    <a href="javascript:void(0)"><img src="assets/cardimg-1.png" alt="..."></a>
                    <input type="checkbox" id="cardcheck" name="check" value="1">
                    <label for="cardcheck" class="cardcheckbox"></label>
                  </div>
                  <div class="cardContent">
                    <span class="cardTitle text-truncate"><a href="javascript:void(0)">Mobile Legends….</a></span>
                    <span class="viewersCol">335k viewers</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="cardStyle cardStyle1">
                  <div class="cardImgCol cardpr">
                    <a href="javascript:void(0)"><img src="assets/cardimg-2.jpg" alt="..."></a>
                    <input type="checkbox" id="cardcheck1" name="check" value="1">
                    <label for="cardcheck1" class="cardcheckbox"></label>
                  </div>
                  <div class="cardContent">
                    <span class="cardTitle text-truncate"><a href="javascript:void(0)">Fortnite</a></span>
                    <span class="viewersCol">125k viewers</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="cardStyle cardStyle1">
                  <div class="cardImgCol cardpr">
                    <a href="javascript:void(0)"><img src="assets/cardimg-3.jpg" alt="..."></a>
                    <input type="checkbox" id="cardcheck2" name="check" value="1">
                    <label for="cardcheck2" class="cardcheckbox"></label>
                  </div>
                  <div class="cardContent">
                    <span class="cardTitle text-truncate"><a href="javascript:void(0)">PUBG</a></span>
                    <span class="viewersCol">335k viewers</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="cardStyle cardStyle1">
                  <div class="cardImgCol cardpr">
                    <a href="javascript:void(0)"><img src="assets/cardimg-4.jpg" alt="..."></a>
                    <input type="checkbox" id="cardcheck3" name="check" value="1">
                    <label for="cardcheck3" class="cardcheckbox"></label>
                  </div>
                  <div class="cardContent">
                    <span class="cardTitle text-truncate"><a href="javascript:void(0)">Grand Theft Auto…</a></span>
                    <span class="viewersCol">48k viewers</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-row">
              <div class="col-6 col-md-3">
                <div class="cardStyle cardStyle1">
                  <div class="cardImgCol cardpr">
                    <a href="javascript:void(0)"><img src="assets/cardimg-5.jpg" alt="..."></a>
                    <input type="checkbox" id="cardcheck4" name="check" value="1">
                    <label for="cardcheck4" class="cardcheckbox"></label>
                  </div>
                  <div class="cardContent">
                    <span class="cardTitle text-truncate"><a href="javascript:void(0)">Arena of Valor</a></span>
                    <span class="viewersCol">335k viewers</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="cardStyle cardStyle1">
                  <div class="cardImgCol cardpr">
                    <a href="javascript:void(0)"><img src="assets/cardimg-6.jpg" alt="..."></a>
                    <input type="checkbox" id="cardcheck5" name="check" value="1">
                    <label for="cardcheck5" class="cardcheckbox"></label>
                  </div>
                  <div class="cardContent">
                    <span class="cardTitle text-truncate"><a href="javascript:void(0)">Devil May Cry 5</a></span>
                    <span class="viewersCol">335k viewers</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="cardStyle cardStyle1">
                  <div class="cardImgCol cardpr">
                    <a href="javascript:void(0)"><img src="assets/cardimg-7.jpg" alt="..."></a>
                    <input type="checkbox" id="cardcheck6" name="check" value="1">
                    <label for="cardcheck6" class="cardcheckbox"></label>
                  </div>
                  <div class="cardContent">
                    <span class="cardTitle text-truncate"><a href="javascript:void(0)">Path of Exile</a></span>
                    <span class="viewersCol">335k viewers</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="cardStyle cardStyle1">
                  <div class="cardImgCol cardpr">
                    <a href="javascript:void(0)"><img src="assets/cardimg-8.jpg" alt="..."></a>
                    <input type="checkbox" id="cardcheck7" name="check" value="1">
                    <label for="cardcheck7" class="cardcheckbox"></label>
                  </div>
                  <div class="cardContent">
                    <span class="cardTitle text-truncate"><a href="javascript:void(0)">Dota 2</a></span>
                    <span class="viewersCol">335k viewers</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row mt-4">
          <div class="col-lg-6">
            <div class="form-row">
              <div class="col-6 col-md-3">
                <div class="cardStyle cardStyle1">
                  <div class="cardImgCol cardpr">
                    <a href="javascript:void(0)"><img src="assets/cardimg-1.png" alt="..."></a>
                    <input type="checkbox" id="cardcheck8" name="check" value="1">
                    <label for="cardcheck8" class="cardcheckbox"></label>
                  </div>
                  <div class="cardContent">
                    <span class="cardTitle text-truncate"><a href="javascript:void(0)">Mobile Legends….</a></span>
                    <span class="viewersCol">335k viewers</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="cardStyle cardStyle1">
                  <div class="cardImgCol cardpr">
                    <a href="javascript:void(0)"><img src="assets/cardimg-2.jpg" alt="..."></a>
                    <input type="checkbox" id="cardcheck9" name="check" value="1">
                    <label for="cardcheck9" class="cardcheckbox"></label>
                  </div>
                  <div class="cardContent">
                    <span class="cardTitle text-truncate"><a href="javascript:void(0)">Fortnite</a></span>
                    <span class="viewersCol">125k viewers</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="cardStyle cardStyle1">
                  <div class="cardImgCol cardpr">
                    <a href="javascript:void(0)"><img src="assets/cardimg-3.jpg" alt="..."></a>
                    <input type="checkbox" id="cardcheck10" name="check" value="1">
                    <label for="cardcheck10" class="cardcheckbox"></label>
                  </div>
                  <div class="cardContent">
                    <span class="cardTitle text-truncate"><a href="javascript:void(0)">PUBG</a></span>
                    <span class="viewersCol">335k viewers</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="cardStyle cardStyle1">
                  <div class="cardImgCol cardpr">
                    <a href="javascript:void(0)"><img src="assets/cardimg-4.jpg" alt="..."></a>
                    <input type="checkbox" id="cardcheck11" name="check" value="1">
                    <label for="cardcheck11" class="cardcheckbox"></label>
                  </div>
                  <div class="cardContent">
                    <span class="cardTitle text-truncate"><a href="javascript:void(0)">Grand Theft Auto…</a></span>
                    <span class="viewersCol">48k viewers</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-row">
              <div class="col-6 col-md-3">
                <div class="cardStyle cardStyle1">
                  <div class="cardImgCol cardpr">
                    <a href="javascript:void(0)"><img src="assets/cardimg-5.jpg" alt="..."></a>
                    <input type="checkbox" id="cardcheck12" name="check" value="1">
                    <label for="cardcheck12" class="cardcheckbox"></label>
                  </div>
                  <div class="cardContent">
                    <span class="cardTitle text-truncate"><a href="javascript:void(0)">Arena of Valor</a></span>
                    <span class="viewersCol">335k viewers</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="cardStyle cardStyle1">
                  <div class="cardImgCol cardpr">
                    <a href="javascript:void(0)"><img src="assets/cardimg-6.jpg" alt="..."></a>
                    <input type="checkbox" id="cardcheck13" name="check" value="1">
                    <label for="cardcheck13" class="cardcheckbox"></label>
                  </div>
                  <div class="cardContent">
                    <span class="cardTitle text-truncate"><a href="javascript:void(0)">Devil May Cry 5</a></span>
                    <span class="viewersCol">335k viewers</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="cardStyle cardStyle1">
                  <div class="cardImgCol cardpr">
                    <a href="javascript:void(0)"><img src="assets/cardimg-7.jpg" alt="..."></a>
                    <input type="checkbox" id="cardcheck14" name="check" value="1">
                    <label for="cardcheck14" class="cardcheckbox"></label>
                  </div>
                  <div class="cardContent">
                    <span class="cardTitle text-truncate"><a href="javascript:void(0)">Path of Exile</a></span>
                    <span class="viewersCol">335k viewers</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="cardStyle cardStyle1">
                  <div class="cardImgCol cardpr">
                    <a href="javascript:void(0)"><img src="assets/cardimg-8.jpg" alt="..."></a>
                    <input type="checkbox" id="cardcheck15" name="check" value="1">
                    <label for="cardcheck15" class="cardcheckbox"></label>
                  </div>
                  <div class="cardContent">
                    <span class="cardTitle text-truncate"><a href="javascript:void(0)">Dota 2</a></span>
                    <span class="viewersCol">335k viewers</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row mt-5">
          <div class="col-lg-12">
            <div class="submitbtn text-center">
              <button type="button" class="btn btn-primary" name="button">Submit form</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
