<section>
  <div class="sectionSpace">
    <div class="container">
      <div class="form-row">
        <div class="col">
          <div class="titleStyle">
            <h4>FOLLOWED STREAMERS</h4>
            <h5>Explanation of the section</h5>
          </div>
        </div>
      </div>
      <div class="featuredSection mt-4">
        <div class="form-row">
          <div class="col-lg-12">
            <section class="slider streamslider slickStyle slidearrow1">
              <div class="cardStyle cardStyle1">
                <div class="cardImgCol">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent cardpr pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Mobile Legends….</a></span>
                  <span class="viewersCol">335k viewers</span>
                  <div class="optiondots">
                    <a href="#">
                      <img width="4" src="assets/optiondots.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="cardStyle cardStyle1">
                <div class="cardImgCol">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent cardpr pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Mobile Legends….</a></span>
                  <span class="viewersCol">335k viewers</span>
                  <div class="optiondots">
                    <a href="#">
                      <img width="4" src="assets/optiondots.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="cardStyle cardStyle1">
                <div class="cardImgCol">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent cardpr pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Mobile Legends….</a></span>
                  <span class="viewersCol">335k viewers</span>
                  <div class="optiondots">
                    <a href="#">
                      <img width="4" src="assets/optiondots.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="cardStyle cardStyle1">
                <div class="cardImgCol">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent cardpr pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Mobile Legends….</a></span>
                  <span class="viewersCol">335k viewers</span>
                  <div class="optiondots">
                    <a href="#">
                      <img width="4" src="assets/optiondots.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="cardStyle cardStyle1">
                <div class="cardImgCol">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent cardpr pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Mobile Legends….</a></span>
                  <span class="viewersCol">335k viewers</span>
                  <div class="optiondots">
                    <a href="#">
                      <img width="4" src="assets/optiondots.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="cardStyle cardStyle1">
                <div class="cardImgCol">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent cardpr pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Mobile Legends….</a></span>
                  <span class="viewersCol">335k viewers</span>
                  <div class="optiondots">
                    <a href="#">
                      <img width="4" src="assets/optiondots.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="cardStyle cardStyle1">
                <div class="cardImgCol">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent cardpr pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Mobile Legends….</a></span>
                  <span class="viewersCol">335k viewers</span>
                  <div class="optiondots">
                    <a href="#">
                      <img width="4" src="assets/optiondots.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="cardStyle cardStyle1">
                <div class="cardImgCol">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent cardpr pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Mobile Legends….</a></span>
                  <span class="viewersCol">335k viewers</span>
                  <div class="optiondots">
                    <a href="#">
                      <img width="4" src="assets/optiondots.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="cardStyle cardStyle1">
                <div class="cardImgCol">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent cardpr pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Mobile Legends….</a></span>
                  <span class="viewersCol">335k viewers</span>
                  <div class="optiondots">
                    <a href="#">
                      <img width="4" src="assets/optiondots.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="cardStyle cardStyle1">
                <div class="cardImgCol">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent cardpr pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Mobile Legends….</a></span>
                  <span class="viewersCol">335k viewers</span>
                  <div class="optiondots">
                    <a href="#">
                      <img width="4" src="assets/optiondots.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="cardStyle cardStyle1">
                <div class="cardImgCol">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent cardpr pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Mobile Legends….</a></span>
                  <span class="viewersCol">335k viewers</span>
                  <div class="optiondots">
                    <a href="#">
                      <img width="4" src="assets/optiondots.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="cardStyle cardStyle1">
                <div class="cardImgCol">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent cardpr pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Mobile Legends….</a></span>
                  <span class="viewersCol">335k viewers</span>
                  <div class="optiondots">
                    <a href="#">
                      <img width="4" src="assets/optiondots.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="sectionSpace">
    <div class="container">
      <hr class="bodrGreen"></br>
      <div class="form-row">
        <div class="col">
          <div class="titleStyle">
            <h4>LIVE NOW</h4>
            <h5>Based on your followed streamers</h5>
          </div>
        </div>
      </div>
      <div class="featuredSection mt-4">
        <section class="slider slickStyle livenowslider slidearrow2">
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/live" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="videotimetag">
                  0:30
              </span>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
              <div class="rightTags">
                <ul>
                  <li><span class="liveVideoTag"><img src="assets/live.png" width="14"> <span>LIVE</span></span></li>
                  <li><span class="viewtag"><img src="assets/eye.png" width="20"> <span>458</span></span></li>
                </ul>
              </div>
            </div>
            <div class="cardContent imgcontentcol pr-3">
              <div class="cardcontentimg">
                <img class="brleft" src="assets/userimg.png" alt="">
              </div>
              <span class="cardTitle text-truncate"><a href="/live">Clip Title</a></span>
              <span class="cardusername text-truncate"><a href="/other-user">Username A</a></span>
              <ul class="cardlist">
                <li>169k Views</li>
                <li>1 hours ago</li>
              </ul>
              <div class="optiondots">
                <a href="#">
                  <img width="4" src="assets/optiondots.svg" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/live" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="videotimetag">
                  0:30
              </span>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
              <div class="rightTags">
                <ul>
                  <li><span class="liveVideoTag"><img src="assets/live.png" width="14"> <span>LIVE</span></span></li>
                  <li><span class="viewtag"><img src="assets/eye.png" width="20"> <span>458</span></span></li>
                </ul>
              </div>
            </div>
            <div class="cardContent imgcontentcol pr-3">
              <div class="cardcontentimg">
                <img class="brleft" src="assets/userimg.png" alt="">
              </div>
              <span class="cardTitle text-truncate"><a href="/live">Clip Title</a></span>
              <span class="cardusername text-truncate"><a href="/other-user">Username A</a></span>
              <ul class="cardlist">
                <li>169k Views</li>
                <li>1 hours ago</li>
              </ul>
              <div class="optiondots">
                <a href="#">
                  <img width="4" src="assets/optiondots.svg" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/live" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="videotimetag">
                  0:30
              </span>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
              <div class="rightTags">
                <ul>
                  <li><span class="liveVideoTag"><img src="assets/live.png" width="14"> <span>LIVE</span></span></li>
                  <li><span class="viewtag"><img src="assets/eye.png" width="20"> <span>458</span></span></li>
                </ul>
              </div>
            </div>
            <div class="cardContent imgcontentcol pr-3">
              <div class="cardcontentimg">
                <img class="brleft" src="assets/userimg.png" alt="">
              </div>
              <span class="cardTitle text-truncate"><a href="/live">Clip Title</a></span>
              <span class="cardusername text-truncate"><a href="/other-user">Username A</a></span>
              <ul class="cardlist">
                <li>169k Views</li>
                <li>1 hours ago</li>
              </ul>
              <div class="optiondots">
                <a href="#">
                  <img width="4" src="assets/optiondots.svg" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/live" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="videotimetag">
                  0:30
              </span>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
              <div class="rightTags">
                <ul>
                  <li><span class="liveVideoTag"><img src="assets/live.png" width="14"> <span>LIVE</span></span></li>
                  <li><span class="viewtag"><img src="assets/eye.png" width="20"> <span>458</span></span></li>
                </ul>
              </div>
            </div>
            <div class="cardContent imgcontentcol pr-3">
              <div class="cardcontentimg">
                <img class="brleft" src="assets/userimg.png" alt="">
              </div>
              <span class="cardTitle text-truncate"><a href="/live">Clip Title</a></span>
              <span class="cardusername text-truncate"><a href="/other-user">Username A</a></span>
              <ul class="cardlist">
                <li>169k Views</li>
                <li>1 hours ago</li>
              </ul>
              <div class="optiondots">
                <a href="#">
                  <img width="4" src="assets/optiondots.svg" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/live" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="videotimetag">
                  0:30
              </span>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
              <div class="rightTags">
                <ul>
                  <li><span class="liveVideoTag"><img src="assets/live.png" width="14"> <span>LIVE</span></span></li>
                  <li><span class="viewtag"><img src="assets/eye.png" width="20"> <span>458</span></span></li>
                </ul>
              </div>
            </div>
            <div class="cardContent imgcontentcol pr-3">
              <div class="cardcontentimg">
                <img class="brleft" src="assets/userimg.png" alt="">
              </div>
              <span class="cardTitle text-truncate"><a href="/live">Clip Title</a></span>
              <span class="cardusername text-truncate"><a href="/other-user">Username A</a></span>
              <ul class="cardlist">
                <li>169k Views</li>
                <li>1 hours ago</li>
              </ul>
              <div class="optiondots">
                <a href="#">
                  <img width="4" src="assets/optiondots.svg" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/live" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="videotimetag">
                  0:30
              </span>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
              <div class="rightTags">
                <ul>
                  <li><span class="liveVideoTag"><img src="assets/live.png" width="14"> <span>LIVE</span></span></li>
                  <li><span class="viewtag"><img src="assets/eye.png" width="20"> <span>458</span></span></li>
                </ul>
              </div>
            </div>
            <div class="cardContent imgcontentcol pr-3">
              <div class="cardcontentimg">
                <img class="brleft" src="assets/userimg.png" alt="">
              </div>
              <span class="cardTitle text-truncate"><a href="/live">Clip Title</a></span>
              <span class="cardusername text-truncate"><a href="/other-user">Username A</a></span>
              <ul class="cardlist">
                <li>169k Views</li>
                <li>1 hours ago</li>
              </ul>
              <div class="optiondots">
                <a href="#">
                  <img width="4" src="assets/optiondots.svg" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/live" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="videotimetag">
                  0:30
              </span>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
              <div class="rightTags">
                <ul>
                  <li><span class="liveVideoTag"><img src="assets/live.png" width="14"> <span>LIVE</span></span></li>
                  <li><span class="viewtag"><img src="assets/eye.png" width="20"> <span>458</span></span></li>
                </ul>
              </div>
            </div>
            <div class="cardContent imgcontentcol pr-3">
              <div class="cardcontentimg">
                <img class="brleft" src="assets/userimg.png" alt="">
              </div>
              <span class="cardTitle text-truncate"><a href="/live">Clip Title</a></span>
              <span class="cardusername text-truncate"><a href="/other-user">Username A</a></span>
              <ul class="cardlist">
                <li>169k Views</li>
                <li>1 hours ago</li>
              </ul>
              <div class="optiondots">
                <a href="#">
                  <img width="4" src="assets/optiondots.svg" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/live" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="videotimetag">
                  0:30
              </span>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
              <div class="rightTags">
                <ul>
                  <li><span class="liveVideoTag"><img src="assets/live.png" width="14"> <span>LIVE</span></span></li>
                  <li><span class="viewtag"><img src="assets/eye.png" width="20"> <span>458</span></span></li>
                </ul>
              </div>
            </div>
            <div class="cardContent imgcontentcol pr-3">
              <div class="cardcontentimg">
                <img class="brleft" src="assets/userimg.png" alt="">
              </div>
              <span class="cardTitle text-truncate"><a href="/live">Clip Title</a></span>
              <span class="cardusername text-truncate"><a href="/other-user">Username A</a></span>
              <ul class="cardlist">
                <li>169k Views</li>
                <li>1 hours ago</li>
              </ul>
              <div class="optiondots">
                <a href="#">
                  <img width="4" src="assets/optiondots.svg" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/live" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="videotimetag">
                  0:30
              </span>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
              <div class="rightTags">
                <ul>
                  <li><span class="liveVideoTag"><img src="assets/live.png" width="14"> <span>LIVE</span></span></li>
                  <li><span class="viewtag"><img src="assets/eye.png" width="20"> <span>458</span></span></li>
                </ul>
              </div>
            </div>
            <div class="cardContent imgcontentcol pr-3">
              <div class="cardcontentimg">
                <img class="brleft" src="assets/userimg.png" alt="">
              </div>
              <span class="cardTitle text-truncate"><a href="/live">Clip Title</a></span>
              <span class="cardusername text-truncate"><a href="/other-user">Username A</a></span>
              <ul class="cardlist">
                <li>169k Views</li>
                <li>1 hours ago</li>
              </ul>
              <div class="optiondots">
                <a href="#">
                  <img width="4" src="assets/optiondots.svg" alt="">
                </a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="sectionSpace">
    <div class="container">
      <div class="form-row align-items-center">
        <div class="col slidercardtitle">
          <div class="cardContent imgcontentcol">
						<a href="#">
							<div class="cardcontentimg">
								<img class="brleft" src="assets/userimg.png" alt="">
							</div>
							<span class="cardTitle text-truncate">
								<span class="cardUserName text-truncate"><span>Live Streamer Name</span> <span class="userCheckIcon"><img width="25" src="assets/circlecheck.svg" alt="..."></span> </span>
							</span>
						</a>
            <span class="cardusername text-truncate"><a href="javascript:void(0)">1,987 Followers</a></span>
          </div>
        </div>
        <div class="col-auto">
          <a href="javascript:void(0)" class="btn btn-outline-primary minWdBtn">See all</a>
        </div>
      </div>
      <div class="featuredSection mt-4">
        <section class="slider slickStyle slidearrow3 livestreamer">
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="sectionSpace">
    <div class="container">
      <div class="form-row align-items-center">
        <div class="col slidercardtitle">
          <div class="cardContent imgcontentcol">
						<a href="#">
							<div class="cardcontentimg">
								<img class="brleft" src="assets/userimg.png" alt="">
							</div>
							<span class="cardTitle text-truncate">
								<span class="cardUserName text-truncate"><span>Live Streamer Name</span> <span class="userCheckIcon"><img width="25" src="assets/circlecheck.svg" alt="..."></span> </span>
							</span>
						</a>
            <span class="cardusername text-truncate"><a href="javascript:void(0)">1,987 Followers</a></span>
          </div>
        </div>
        <div class="col-auto">
          <a href="javascript:void(0)" class="btn btn-outline-primary minWdBtn">See all</a>
        </div>
      </div>
      <div class="featuredSection mt-4">
        <section class="slider slickStyle slidearrow3 livestreamer">
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="sectionSpace">
    <div class="container">
      <div class="form-row align-items-center">
        <div class="col slidercardtitle">
          <div class="cardContent imgcontentcol">
						<a href="#">
							<div class="cardcontentimg">
								<img class="brleft" src="assets/userimg.png" alt="">
							</div>
							<span class="cardTitle text-truncate">
								<span class="cardUserName text-truncate"><span>Live Streamer Name</span> <span class="userCheckIcon"><img width="25" src="assets/circlecheck.svg" alt="..."></span> </span>
							</span>
						</a>
            <span class="cardusername text-truncate"><a href="javascript:void(0)">1,987 Followers</a></span>
          </div>
        </div>
        <div class="col-auto">
          <a href="javascript:void(0)" class="btn btn-outline-primary minWdBtn">See all</a>
        </div>
      </div>
      <div class="featuredSection mt-4">
        <section class="slider slickStyle slidearrow3 livestreamer">
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="sectionSpace">
    <div class="container">
      <div class="form-row align-items-center">
        <div class="col slidercardtitle">
          <div class="cardContent imgcontentcol">
						<a href="#">
							<div class="cardcontentimg">
								<img class="brleft" src="assets/userimg.png" alt="">
							</div>
							<span class="cardTitle text-truncate">
								<span class="cardUserName text-truncate"><span>Live Streamer Name</span> <span class="userCheckIcon"><img width="25" src="assets/circlecheck.svg" alt="..."></span> </span>
							</span>
						</a>
            <span class="cardusername text-truncate"><a href="javascript:void(0)">1,987 Followers</a></span>
          </div>
        </div>
        <div class="col-auto">
          <a href="javascript:void(0)" class="btn btn-outline-primary minWdBtn">See all</a>
        </div>
      </div>
      <div class="featuredSection mt-4">
        <section class="slider slickStyle slidearrow3 livestreamer">
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
          <div class="cardStyle cardStyle3">
            <div class="cardImgCol">
              <a href="/clip" class="videoClick"><img src="assets/featuredimg-1.png" alt="..."></a>
              <span class="playicon">
                <img src="assets/play-icon.png" alt="">
              </span>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="sectionSpace">
    <div class="container">
      <div class="form-row">
        <div class="col">
          <div class="titleStyle">
            <h4>RECOMMENDED FOR YOU</h4>
            <h5>Explanation of the section</h5>
          </div>
        </div>
      </div>
      <div class="popularSection mt-4">
        <section class="slider slickStyle recommendslider slidearrow3">
          <div class="cardStyle cardStyle2">
						<div class="rightTags">
							<ul>
								<li><span class="liveVideoTag"><img src="assets/live.png" width="14"> <span>LIVE</span></span></li>
								<li><span class="viewtag"><img src="assets/eye.png" width="20"> <span>458</span></span></li>
							</ul>
						</div>
            <div class="cardImgCol">
              <a href="/live" class="videoClick"><img src="assets/img-1.png" alt="..."></a>
            </div>
            <div class="cardContent imgcontentcol">
              <div class="cardcontentimg">
                <img class="brleft" src="assets/userimg.png" alt="">
              </div>
              <span class="cardTitle text-truncate">
                <span class="cardUserName text-truncate"><a href="/live" tabindex="0"><span>Clip Title</span></a> <span class="userCheckIcon"><img src="assets/circlecheck.svg" alt="..."></span> </span>
              </span>
              <span class="cardusername text-truncate"><a href="/other-user">Username A</a></span>
            </div>
            <span class="videotimetag">
                0:30
            </span>
          </div>
          <div class="cardStyle cardStyle2">
						<div class="rightTags">
							<ul>
								<li><span class="liveVideoTag"><img src="assets/live.png" width="14"> <span>LIVE</span></span></li>
								<li><span class="viewtag"><img src="assets/eye.png" width="20"> <span>458</span></span></li>
							</ul>
						</div>
            <div class="cardImgCol">
              <a href="/live" class="videoClick"><img src="assets/img-1.png" alt="..."></a>
            </div>
            <div class="cardContent imgcontentcol">
              <div class="cardcontentimg">
                <img class="brleft" src="assets/userimg.png" alt="">
              </div>
              <span class="cardTitle text-truncate">
                <span class="cardUserName text-truncate"><a href="/live" tabindex="0"><span>Clip Title</span></a> <span class="userCheckIcon"><img src="assets/circlecheck.svg" alt="..."></span> </span>
              </span>
              <span class="cardusername text-truncate"><a href="/other-user">Username A</a></span>
            </div>
            <span class="videotimetag">
                0:30
            </span>
          </div>
          <div class="cardStyle cardStyle2">
						<div class="rightTags">
							<ul>
								<li><span class="liveVideoTag"><img src="assets/live.png" width="14"> <span>LIVE</span></span></li>
								<li><span class="viewtag"><img src="assets/eye.png" width="20"> <span>458</span></span></li>
							</ul>
						</div>
            <div class="cardImgCol">
              <a href="/live" class="videoClick"><img src="assets/img-1.png" alt="..."></a>
            </div>
            <div class="cardContent imgcontentcol">
              <div class="cardcontentimg">
                <img class="brleft" src="assets/userimg.png" alt="">
              </div>
              <span class="cardTitle text-truncate">
                <span class="cardUserName text-truncate"><a href="/live" tabindex="0"><span>Clip Title</span></a> <span class="userCheckIcon"><img src="assets/circlecheck.svg" alt="..."></span> </span>
              </span>
              <span class="cardusername text-truncate"><a href="/other-user">Username A</a></span>
            </div>
            <span class="videotimetag">
                0:30
            </span>
          </div>
          <div class="cardStyle cardStyle2">
						<div class="rightTags">
							<ul>
								<li><span class="liveVideoTag"><img src="assets/live.png" width="14"> <span>LIVE</span></span></li>
								<li><span class="viewtag"><img src="assets/eye.png" width="20"> <span>458</span></span></li>
							</ul>
						</div>
            <div class="cardImgCol">
              <a href="/live" class="videoClick"><img src="assets/img-1.png" alt="..."></a>
            </div>
            <div class="cardContent imgcontentcol">
              <div class="cardcontentimg">
                <img class="brleft" src="assets/userimg.png" alt="">
              </div>
              <span class="cardTitle text-truncate">
                <span class="cardUserName text-truncate"><a href="/live" tabindex="0"><span>Clip Title</span></a> <span class="userCheckIcon"><img src="assets/circlecheck.svg" alt="..."></span> </span>
              </span>
              <span class="cardusername text-truncate"><a href="/other-user">Username A</a></span>
            </div>
            <span class="videotimetag">
                0:30
            </span>
          </div>
          <div class="cardStyle cardStyle2">
						<div class="rightTags">
							<ul>
								<li><span class="liveVideoTag"><img src="assets/live.png" width="14"> <span>LIVE</span></span></li>
								<li><span class="viewtag"><img src="assets/eye.png" width="20"> <span>458</span></span></li>
							</ul>
						</div>
            <div class="cardImgCol">
              <a href="/live" class="videoClick"><img src="assets/img-1.png" alt="..."></a>
            </div>
            <div class="cardContent imgcontentcol">
              <div class="cardcontentimg">
                <img class="brleft" src="assets/userimg.png" alt="">
              </div>
              <span class="cardTitle text-truncate">
                <span class="cardUserName text-truncate"><a href="/live" tabindex="0"><span>Clip Title</span></a> <span class="userCheckIcon"><img src="assets/circlecheck.svg" alt="..."></span> </span>
              </span>
              <span class="cardusername text-truncate"><a href="/other-user">Username A</a></span>
            </div>
            <span class="videotimetag">
                0:30
            </span>
          </div>
          <div class="cardStyle cardStyle2">
						<div class="rightTags">
							<ul>
								<li><span class="liveVideoTag"><img src="assets/live.png" width="14"> <span>LIVE</span></span></li>
								<li><span class="viewtag"><img src="assets/eye.png" width="20"> <span>458</span></span></li>
							</ul>
						</div>
            <div class="cardImgCol">
              <a href="/live" class="videoClick"><img src="assets/img-1.png" alt="..."></a>
            </div>
            <div class="cardContent imgcontentcol">
              <div class="cardcontentimg">
                <img class="brleft" src="assets/userimg.png" alt="">
              </div>
              <span class="cardTitle text-truncate">
                <span class="cardUserName text-truncate"><a href="/live" tabindex="0"><span>Clip Title</span></a> <span class="userCheckIcon"><img src="assets/circlecheck.svg" alt="..."></span> </span>
              </span>
              <span class="cardusername text-truncate"><a href="/other-user">Username A</a></span>
            </div>
            <span class="videotimetag">
                0:30
            </span>
          </div>
          <div class="cardStyle cardStyle2">
						<div class="rightTags">
							<ul>
								<li><span class="liveVideoTag"><img src="assets/live.png" width="14"> <span>LIVE</span></span></li>
								<li><span class="viewtag"><img src="assets/eye.png" width="20"> <span>458</span></span></li>
							</ul>
						</div>
            <div class="cardImgCol">
              <a href="/live" class="videoClick"><img src="assets/img-1.png" alt="..."></a>
            </div>
            <div class="cardContent imgcontentcol">
              <div class="cardcontentimg">
                <img class="brleft" src="assets/userimg.png" alt="">
              </div>
              <span class="cardTitle text-truncate">
                <span class="cardUserName text-truncate"><a href="/live" tabindex="0"><span>Clip Title</span></a> <span class="userCheckIcon"><img src="assets/circlecheck.svg" alt="..."></span> </span>
              </span>
              <span class="cardusername text-truncate"><a href="/other-user">Username A</a></span>
            </div>
            <span class="videotimetag">
                0:30
            </span>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
