<div id="fullscreen_slider_1" class="avia-fullscreen-slider main_color avia-builder-el-0 avia-builder-el-no-sibling  container_wrap fullsize av-solo-full">
	<div data-size="extra_large" data-lightbox_size="large" data-animation="fade" data-conditional_play="" data-ids="269,270,267" data-video_counter="0" data-autoplay="true" data-bg_slider="true" data-slide_height="100" data-handle="av_fullscreen" data-interval="3" data-class="" data-css_id="fullscreen_slider_1" data-scroll_down="" data-control_layout="av-control-hidden" data-custom_markup="" data-perma_caption="aviaTBperma_caption" data-autoplay_stopper="" data-image_attachment="" data-min_height="0px" data-stretch="" data-default-height="100" class="avia-slideshow avia-slideshow-1 av-control-hidden avia-slideshow-extra_large av_fullscreen  avia-fade-slider" itemprop="ImageObject" itemscope="itemscope" itemtype="https://schema.org/ImageObject">
		<ul class="avia-slideshow-inner" style="padding: 0px;">
			<li style="background-position: center center; background-image:url('<%= image_url("banner1.png") %>'); visibility: visible; opacity: 1; transition: all 0.45s linear 0s; transform: translateZ(0px); z-index: 3;" class="slide-1">
				<div data-rel="slideshow-1" class="avia-slide-wrap"></div>
			</li>
		</ul>
		<div class="avia-slideshow-arrows avia-slideshow-controls">
			<a href="#prev" class="prev-slide" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello">Previous</a>
			<a href="#next" class="next-slide" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello">Next</a>
		</div>
		<div class="avia-slideshow-dots avia-slideshow-controls">
			<a href="#1" class="goto-slide active">1</a>
			<a href="#2" class="goto-slide">2</a>
			<a href="#3" class="goto-slide">3</a>
		</div>
		<div class="caption_fullwidth av-slideshow-caption caption_center active-slide">
			<div class="container caption_container">
				<div class="slideshow_caption">
					<div class="slideshow_inner_caption">
						<div class="slideshow_align_caption">
							<h2 style="font-size:70px;" class="avia-caption-title" itemprop="name">Hello &amp; Welcome</h2>
							<div class="avia-caption-content av_inherit_color" itemprop="description" style="font-size:22px;">
								<p>
									This is the Portfolio of Dicky Adiwoso (thats me!)<br>
									Want to work with me? Drop me a mail!
								</p>
							</div>
							<a href="<%= portfolios_path %>" class="avia-slideshow-button avia-button avia-color-theme-color avia-multi-slideshow-button" data-duration="800" data-easing="easeInOutQuad">View Portfolio</a>
							<a href="<%= contact_path %>" class="avia-slideshow-button avia-button avia-color-light avia-multi-slideshow-button avia-slideshow-button-2" data-duration="800" data-easing="easeInOutQuad">Get in touch</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
