<section>
  <div class="votingresult">
    <div class="container">
      <div class="form-row">
        <div class="col-lg-9">
          <div class="videosec">
            <iframe width="100%" height="410" src="https://www.youtube.com/embed/ce5p9UrCTVw?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="videocontent">
            <div class="cardStyle cardStyle2">
              <div class="cardContent imgcontentcol">
                <div class="cardcontentimg">
                  <img class="brleft" src="assets/userimg.png" alt="">
                </div>
                <div class="row align-items-center">
                  <div class="col-auto">
                    <div class="cardleft">
                      <span class="cardTitle text-truncate">
                        <span class="cardUserName text-truncate"><a href="javascript:void(0)" tabindex="0"><span>Live Streamer Name</span></a> <span class="userCheckIcon"><img src="assets/circlecheck.svg" alt="..."></span> </span>
                      </span>
                      <span class="cardusername text-truncate"><a href="javascript:void(0)">Username A</a></span>
                    </div>
                  </div>
                  <div class="col pr-2">
                    <div class="cardright text-right">
                      <ul>
                        <li>
                          <a href="JavaScript:void(0)"><img src="assets/eye.png" width="13" alt=""><span>547</span></a>
                        </li>
                        <li>
                          <a href="JavaScript:void(0)"><img src="assets/user.png" width="13" alt=""><span>1,000,000</span></a>
                          <div class="usercountdropdown">
                            <ul>
                              <li>
                                <a href="#"><img src="assets/facebook-icon.png" alt="..."> <span>Share to Facebook</span></a>
                              </li>
                              <li>
                                <a href="#"><img src="assets/insta-icon.png" alt="..."> <span>Share to Instagram</span></a>
                              </li>
                              <li>
                                <a href="#"><img src="assets/icon-link.png" alt="..."> <span>Copy Link</span></a>
                              </li>
                            </ul>
                            <div class="embedsec">
                              <ul>
                                <li>
                                  <h6>Embed Channel</h6>
                                  <div class="embedinput">
                                    <input type="text" class="text-truncate" name="" value="<iframe allowfullscreen='true'></iframe>">
                                  </div>
                                </li>
                                <li>
                                  <h6>Embed Chat</h6>
                                  <div class="embedinput">
                                    <input type="text" class="text-truncate" name="" value="<iframe allowfullscreen='true'></iframe>">
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </li>
                        <li>
                          <a href="JavaScript:void(0)"><img src="assets/share.png" width="13" alt=""><span>Share</span></a>
                        </li>
                        <li>
                          <a href="JavaScript:void(0)" class="followbtn">
                            <button type="button" name="button" class="btn btn-outline-primary">
                              <img src="assets/usergreen.png" width="12" alt=""><span>Follow</span>
                            </button>
                          </a>
                        </li>
                        <li>
                          <a href="JavaScript:void(0)" class="optionbtn">
                            <img src="assets/optiondots.svg" width="6" alt=""></span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pollingSection">
            <div class="form-row">
              <div class="col">
                <div class="titleStyle">
                  <h4><img src="assets/logo.svg" width="50" alt=""> <span class="pl-2">POLLING</span></h4>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <p>Lorem ipsum dolor sit amet, volumus propriae periculis qui id. Per ea lorem dolorum scripserit, ??</p>
              <div class="pollingProgress">
                <img src="assets/polling-progress.jpg" alt="...">
              </div>
            </div>
          </div>

          <div class="masonryCards mt-4">
            <ul>
              <li>
                <div class="cardStyle4">
                  <div class="titleStyle1">
                    <h4><span><span>ABOUT</span></span></h4>
                  </div>
                  <p>Lorem ipsum dolor sit amet, volumus propriae periculis qui id. Per ea lorem dolorum scripserit, periculis scripserit adversarium ne mel. No mel virtute pertinacia. volumus propriae periculis qui id. Tritani hendrerit per cu, menandri legendos ad mea. Vis in partem quaestio dissentiunt, mei quot nemore no, cu porro detracto vis. </p>
                </div>
              </li>

              <li>
                <div class="cardStyle4">
                  <div class="titleStyle1">
                    <h4><span><span>DONATE</span></span></h4>
                  </div>
                  <p>Lorem ipsum dolor sit amet, volumus propriae periculis qui id. Per ea lorem dolorum scripserit, periculis scripserit adversarium ne mel. No mel virtute pertinacia. volumus propriae periculis qui id. Tritani hendrerit per cu, menandri legendos ad mea. Vis in partem quaestio dissentiunt, mei quot nemore no, cu porro detracto vis. </p>
                  <p>No mel virtute pertinacia. volumus propriae periculis qui id. Tritani hendrerit per cu, menandri legendos ad mea.</p>
                  <p>Scripserit adversarium ne mel. No mel virtute pertinacia. volumus propriae periculis qui id. </p>
                </div>
              </li>

              <li>
                <div class="cardStyle4 greenborder">
                  <div class="titleStyle1">
                    <h4><span><span>SPECIFICATION</span></span></h4>
                  </div>
                  <p>Lorem ipsum dolor sit amet, volumus propriae periculis qui id. Per ea lorem dolorum scripserit, periculis scripserit adversarium ne mel.</p>
                  <p>No mel virtute pertinacia. volumus propriae periculis qui id. Tritani hendrerit per cu, menandri legendos ad mea. </p>
                  <p>Scripserit adversarium ne mel. No mel virtute pertinacia. volumus propriae periculis qui id. </p>
                </div>
              </li>

              <li>
                <div class="cardStyle4 greenborder">
                  <div class="titleStyle1">
                    <h4><span><span>SUBSCRIBE</span></span></h4>
                  </div>
                  <p>TWITTER : @Loremipsum <br>
                    FACEBOOK : Per ea lorem dolorum <br>
                    INSTAGRAM : @Nomelvirtute <br>
                    YOUTUBE : pertinacia. volumus <br>
                    TWITCH : pertinacia. volumus</p>
                </div>
              </li>

              <li>
                <div class="cardStyle4 blueborder">
                  <div class="titleStyle1">
                    <h4><span><span>RULES</span></span></h4>
                  </div>
                  <p>Lorem ipsum dolor sit amet, volumus propriae periculis qui id. </p>
                  <p> No mel virtute pertinacia. volumus propriae periculis qui id. Tritani hendrerit per cu, </p>
                  <p>menandri legendos ad mea. Vis in partem quaestio dissentiunt, mei quot nemore no, cu porro detracto vis. </p>
                </div>
              </li>

              <li>
                <div class="cardStyle4 blueborder">
                  <div class="titleStyle1">
                    <h4><span><span>MERCH</span></span></h4>
                  </div>
                  <div class="card4imgCol py-4 mb-2">
                    <img src="assets/tshirt.png" alt="...">
                  </div>
                  <p>Lorem ipsum dolor sit amet, volumus propriae periculis qui id. </p>
                  <a href="javascript:void(0)" class="simpleLink">www.retailshopme.com/</a>
                </div>
              </li>
            </ul>
          </div>

        </div>
        <div class="col-lg-3 stickyChat">
          <div class="chatsidebar">
            <div class="chatsection">
              <img src="assets/chatimg.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "gox_exclusive" %>

