<%= render "home/profiles/banner" %>

<section>
  <div class="sectionSpace votingBg">
    <div class="container">
      <div class="form-row">
        <div class="col">
          <div class="titleStyle mbcenter py-3">
            <h4>CLIPS</h4>
          </div>
        </div>
      </div>
      <div class="catOptionResult">
        <div class="gridView">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
              <div class="cardStyle cardStyle3">
                <div class="cardImgCol">
                  <a href="javascript:void(0)" class="videoClick" data-toggle="modal" data-src="https://www.youtube.com/embed/5btyLX6C5iI" data-target="#videoModal"><img src="assets/featuredimg-1.png" alt="..."></a>
                  <span class="videotimetag">
                      0:30
                  </span>
                  <span class="playicon">
                    <img src="assets/play-icon.png" alt="">
                  </span>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Clip Title</a></span>
                  <span class="cardusername text-truncate"><a href="javascript:void(0)">Fortnite</a></span>
                  <ul class="cardlist">
                    <li>269k views</li>
                    <li>1 hour ago</li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img width="4" src="assets/optiondots.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="cardStyle cardStyle3">
                <div class="cardImgCol">
                  <a href="javascript:void(0)" class="videoClick" data-toggle="modal" data-src="https://www.youtube.com/embed/5btyLX6C5iI" data-target="#videoModal"><img src="assets/featuredimg-1.png" alt="..."></a>
                  <span class="videotimetag">
                      0:30
                  </span>
                  <span class="playicon">
                    <img src="assets/play-icon.png" alt="">
                  </span>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Extremely long clip title he</a></span>
                  <span class="cardusername text-truncate"><a href="javascript:void(0)">PUBG</a></span>
                  <ul class="cardlist">
                    <li>269k views</li>
                    <li>1 hour ago</li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img width="4" src="assets/optiondots.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="cardStyle cardStyle3">
                <div class="cardImgCol">
                  <a href="javascript:void(0)" class="videoClick" data-toggle="modal" data-src="https://www.youtube.com/embed/5btyLX6C5iI" data-target="#videoModal"><img src="assets/featuredimg-1.png" alt="..."></a>
                  <span class="videotimetag">
                      0:30
                  </span>
                  <span class="playicon">
                    <img src="assets/play-icon.png" alt="">
                  </span>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Moderate long clip title</a></span>
                  <span class="cardusername text-truncate"><a href="javascript:void(0)">PUBG</a></span>
                  <ul class="cardlist">
                    <li>23k views</li>
                    <li>4 hours ago</li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img width="4" src="assets/optiondots.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="cardStyle cardStyle3">
                <div class="cardImgCol">
                  <a href="javascript:void(0)" class="videoClick" data-toggle="modal" data-src="https://www.youtube.com/embed/5btyLX6C5iI" data-target="#videoModal"><img src="assets/featuredimg-1.png" alt="..."></a>
                  <span class="videotimetag">
                      0:30
                  </span>
                  <span class="playicon">
                    <img src="assets/play-icon.png" alt="">
                  </span>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Clip Title</a></span>
                  <span class="cardusername text-truncate"><a href="javascript:void(0)">Mobile Legends</a></span>
                  <ul class="cardlist">
                    <li>23k views</li>
                    <li>4 hours ago</li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img width="4" src="assets/optiondots.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
              <div class="cardStyle cardStyle3">
                <div class="cardImgCol">
                  <a href="javascript:void(0)" class="videoClick" data-toggle="modal" data-src="https://www.youtube.com/embed/5btyLX6C5iI" data-target="#videoModal"><img src="assets/featuredimg-1.png" alt="..."></a>
                  <span class="videotimetag">
                      0:30
                  </span>
                  <span class="playicon">
                    <img src="assets/play-icon.png" alt="">
                  </span>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Clip Title</a></span>
                  <span class="cardusername text-truncate"><a href="javascript:void(0)">Fortnite</a></span>
                  <ul class="cardlist">
                    <li>269k views</li>
                    <li>1 hour ago</li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img width="4" src="assets/optiondots.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="cardStyle cardStyle3">
                <div class="cardImgCol">
                  <a href="javascript:void(0)" class="videoClick" data-toggle="modal" data-src="https://www.youtube.com/embed/5btyLX6C5iI" data-target="#videoModal"><img src="assets/featuredimg-1.png" alt="..."></a>
                  <span class="videotimetag">
                      0:30
                  </span>
                  <span class="playicon">
                    <img src="assets/play-icon.png" alt="">
                  </span>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Extremely long clip title he</a></span>
                  <span class="cardusername text-truncate"><a href="javascript:void(0)">PUBG</a></span>
                  <ul class="cardlist">
                    <li>269k views</li>
                    <li>1 hour ago</li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img width="4" src="assets/optiondots.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="cardStyle cardStyle3">
                <div class="cardImgCol">
                  <a href="javascript:void(0)" class="videoClick" data-toggle="modal" data-src="https://www.youtube.com/embed/5btyLX6C5iI" data-target="#videoModal"><img src="assets/featuredimg-1.png" alt="..."></a>
                  <span class="videotimetag">
                      0:30
                  </span>
                  <span class="playicon">
                    <img src="assets/play-icon.png" alt="">
                  </span>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Moderate long clip title</a></span>
                  <span class="cardusername text-truncate"><a href="javascript:void(0)">PUBG</a></span>
                  <ul class="cardlist">
                    <li>23k views</li>
                    <li>4 hours ago</li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img width="4" src="assets/optiondots.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="cardStyle cardStyle3">
                <div class="cardImgCol">
                  <a href="javascript:void(0)" class="videoClick" data-toggle="modal" data-src="https://www.youtube.com/embed/5btyLX6C5iI" data-target="#videoModal"><img src="assets/featuredimg-1.png" alt="..."></a>
                  <span class="videotimetag">
                      0:30
                  </span>
                  <span class="playicon">
                    <img src="assets/play-icon.png" alt="">
                  </span>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Clip Title</a></span>
                  <span class="cardusername text-truncate"><a href="javascript:void(0)">Mobile Legends</a></span>
                  <ul class="cardlist">
                    <li>23k views</li>
                    <li>4 hours ago</li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img width="4" src="assets/optiondots.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
