<%= render "home/profiles/banner" %>

<section class="profile_settings">
  <div class="container">
    <div class="dBoardSection">
      <div class="row no-gutters">
				<%= render "home/profiles/sidebar" %>
        <div class="col-lg">
          <div class="dbContentCol">
						<div class="formStyle fileuploadform pb-2">
							<label class="formLabel lgLbl text-uppercase">NOTIFICATIONS</label>
						</div>
            <div class="smartNotificationsCol">
              <div class="row">
                <div class="col-auto">
                  <div class="notificationLbl minWdLbl">Smart Notifications</div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <span class="switch">
                      <input type="checkbox" class="switch" id="switch-smartNotification" checked>
                      <label for="switch-smartNotification"></label>
                    </span>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in</p>
                </div>
              </div>
            </div>

            <div class="accordion accordionStyle" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h4 data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    GOX NOTIFICATIONS
                  </h4>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="switchContentCol">
                      <div class="switchListCol">
                        <ul>
                          <li>
                            <div class="form-row align-items-center">
                              <div class="col">
                                <div class="switchColContent">
                                  <span class="switchTitle">
                                    QUIS NOSTRUD EXERCITATION
                                  </span>
                                  <span class="switchText">Duis aute irure dolor in reprehenderit in voluptate velit esse</span>
                                </div>
                              </div>
                              <div class="col-auto">
                                <span class="switch">
                                  <input type="checkbox" class="switch" id="switch-1" checked>
                                  <label for="switch-1"></label>
                                </span>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="form-row align-items-center">
                              <div class="col">
                                <div class="switchColContent">
                                  <span class="switchTitle">
                                    QUIS NOSTRUD EXERCITATION
                                  </span>
                                  <span class="switchText">Duis aute irure dolor in reprehenderit in voluptate velit esse</span>
                                </div>
                              </div>
                              <div class="col-auto">
                                <span class="switch">
                                  <input type="checkbox" class="switch" id="switch-2" checked>
                                  <label for="switch-2"></label>
                                </span>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="form-row align-items-center">
                              <div class="col">
                                <div class="switchColContent">
                                  <span class="switchTitle">
                                    QUIS NOSTRUD EXERCITATION
                                  </span>
                                  <span class="switchText">Duis aute irure dolor in reprehenderit in voluptate velit esse</span>
                                </div>
                              </div>
                              <div class="col-auto">
                                <span class="switch">
                                  <input type="checkbox" class="switch" id="switch-3">
                                  <label for="switch-3"></label>
                                </span>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="form-row align-items-center">
                              <div class="col">
                                <div class="switchColContent">
                                  <span class="switchTitle">
                                    QUIS NOSTRUD EXERCITATION
                                  </span>
                                  <span class="switchText">Duis aute irure dolor in reprehenderit in voluptate velit esse</span>
                                </div>
                              </div>
                              <div class="col-auto">
                                <span class="switch">
                                  <input type="checkbox" class="switch" id="switch-4">
                                  <label for="switch-4"></label>
                                </span>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="form-row align-items-center">
                              <div class="col">
                                <div class="switchColContent">
                                  <span class="switchTitle">
                                    QUIS NOSTRUD EXERCITATION
                                  </span>
                                  <span class="switchText">Duis aute irure dolor in reprehenderit in voluptate velit esse</span>
                                </div>
                              </div>
                              <div class="col-auto">
                                <span class="switch">
                                  <input type="checkbox" class="switch" id="switch-5">
                                  <label for="switch-5"></label>
                                </span>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="form-row align-items-center">
                              <div class="col">
                                <div class="switchColContent">
                                  <span class="switchTitle">
                                    QUIS NOSTRUD EXERCITATION
                                  </span>
                                  <span class="switchText">Duis aute irure dolor in reprehenderit in voluptate velit esse</span>
                                </div>
                              </div>
                              <div class="col-auto">
                                <span class="switch">
                                  <input type="checkbox" class="switch" id="switch-6" checked>
                                  <label for="switch-6"></label>
                                </span>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="form-row align-items-center">
                              <div class="col">
                                <div class="switchColContent">
                                  <span class="switchTitle">
                                    QUIS NOSTRUD EXERCITATION
                                  </span>
                                  <span class="switchText">Duis aute irure dolor in reprehenderit in voluptate velit esse</span>
                                </div>
                              </div>
                              <div class="col-auto">
                                <span class="switch">
                                  <input type="checkbox" class="switch" id="switch-7" checked>
                                  <label for="switch-7"></label>
                                </span>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="form-row align-items-center">
                              <div class="col">
                                <div class="switchColContent">
                                  <span class="switchTitle">
                                    QUIS NOSTRUD EXERCITATION
                                  </span>
                                  <span class="switchText">Duis aute irure dolor in reprehenderit in voluptate velit esse</span>
                                </div>
                              </div>
                              <div class="col-auto">
                                <span class="switch">
                                  <input type="checkbox" class="switch" id="switch-8" checked>
                                  <label for="switch-8"></label>
                                </span>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h4 class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    EMAIL NOTIFICATIONS
                  </h4>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="switchContentCol">
                      <div class="switchListCol">
                        <ul>
                          <li>
                            <div class="form-row align-items-center">
                              <div class="col">
                                <div class="switchColContent">
                                  <span class="switchTitle">
                                    QUIS NOSTRUD EXERCITATION
                                  </span>
                                  <span class="switchText">Duis aute irure dolor in reprehenderit in voluptate velit esse</span>
                                </div>
                              </div>
                              <div class="col-auto">
                                <span class="switch">
                                  <input type="checkbox" class="switch" id="switch-emailNotification-1" checked>
                                  <label for="switch-emailNotification-1"></label>
                                </span>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="form-row align-items-center">
                              <div class="col">
                                <div class="switchColContent">
                                  <span class="switchTitle">
                                    QUIS NOSTRUD EXERCITATION
                                  </span>
                                  <span class="switchText">Duis aute irure dolor in reprehenderit in voluptate velit esse</span>
                                </div>
                              </div>
                              <div class="col-auto">
                                <span class="switch">
                                  <input type="checkbox" class="switch" id="switch-emailNotification-2" checked>
                                  <label for="switch-emailNotification-2"></label>
                                </span>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="form-row align-items-center">
                              <div class="col">
                                <div class="switchColContent">
                                  <span class="switchTitle">
                                    QUIS NOSTRUD EXERCITATION
                                  </span>
                                  <span class="switchText">Duis aute irure dolor in reprehenderit in voluptate velit esse</span>
                                </div>
                              </div>
                              <div class="col-auto">
                                <span class="switch">
                                  <input type="checkbox" class="switch" id="switch-emailNotification-3" checked>
                                  <label for="switch-emailNotification-3"></label>
                                </span>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="form-row align-items-center">
                              <div class="col">
                                <div class="switchColContent">
                                  <span class="switchTitle">
                                    QUIS NOSTRUD EXERCITATION
                                  </span>
                                  <span class="switchText">Duis aute irure dolor in reprehenderit in voluptate velit esse</span>
                                </div>
                              </div>
                              <div class="col-auto">
                                <span class="switch">
                                  <input type="checkbox" class="switch" id="switch-emailNotification-4" checked>
                                  <label for="switch-emailNotification-4"></label>
                                </span>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="form-row align-items-center">
                              <div class="col">
                                <div class="switchColContent">
                                  <span class="switchTitle">
                                    QUIS NOSTRUD EXERCITATION
                                  </span>
                                  <span class="switchText">Duis aute irure dolor in reprehenderit in voluptate velit esse</span>
                                </div>
                              </div>
                              <div class="col-auto">
                                <span class="switch">
                                  <input type="checkbox" class="switch" id="switch-emailNotification-5" checked>
                                  <label for="switch-emailNotification-5"></label>
                                </span>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="form-row align-items-center">
                              <div class="col">
                                <div class="switchColContent">
                                  <span class="switchTitle">
                                    QUIS NOSTRUD EXERCITATION
                                  </span>
                                  <span class="switchText">Duis aute irure dolor in reprehenderit in voluptate velit esse</span>
                                </div>
                              </div>
                              <div class="col-auto">
                                <span class="switch">
                                  <input type="checkbox" class="switch" id="switch-emailNotification-6" checked>
                                  <label for="switch-emailNotification-6"></label>
                                </span>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h4 class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    MOBILE NOTIFICATIONS
                  </h4>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="switchContentCol">
                      <div class="switchListCol">
                        <ul>
                          <li>
                            <div class="form-row align-items-center">
                              <div class="col">
                                <div class="switchColContent">
                                  <span class="switchTitle">
                                    QUIS NOSTRUD EXERCITATION
                                  </span>
                                  <span class="switchText">Duis aute irure dolor in reprehenderit in voluptate velit esse</span>
                                </div>
                              </div>
                              <div class="col-auto">
                                <span class="switch">
                                  <input type="checkbox" class="switch" id="switch-mobileNotification-1">
                                  <label for="switch-mobileNotification-1"></label>
                                </span>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="form-row align-items-center">
                              <div class="col">
                                <div class="switchColContent">
                                  <span class="switchTitle">
                                    QUIS NOSTRUD EXERCITATION
                                  </span>
                                  <span class="switchText">Duis aute irure dolor in reprehenderit in voluptate velit esse</span>
                                </div>
                              </div>
                              <div class="col-auto">
                                <span class="switch">
                                  <input type="checkbox" class="switch" id="switch-mobileNotification-2">
                                  <label for="switch-mobileNotification-2"></label>
                                </span>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="form-row align-items-center">
                              <div class="col">
                                <div class="switchColContent">
                                  <span class="switchTitle">
                                    QUIS NOSTRUD EXERCITATION
                                  </span>
                                  <span class="switchText">Duis aute irure dolor in reprehenderit in voluptate velit esse</span>
                                </div>
                              </div>
                              <div class="col-auto">
                                <span class="switch">
                                  <input type="checkbox" class="switch" id="switch-mobileNotification-3">
                                  <label for="switch-mobileNotification-3"></label>
                                </span>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="form-row align-items-center">
                              <div class="col">
                                <div class="switchColContent">
                                  <span class="switchTitle">
                                    QUIS NOSTRUD EXERCITATION
                                  </span>
                                  <span class="switchText">Duis aute irure dolor in reprehenderit in voluptate velit esse</span>
                                </div>
                              </div>
                              <div class="col-auto">
                                <span class="switch">
                                  <input type="checkbox" class="switch" id="switch-mobileNotification-4">
                                  <label for="switch-mobileNotification-4"></label>
                                </span>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="form-row align-items-center">
                              <div class="col">
                                <div class="switchColContent">
                                  <span class="switchTitle">
                                    QUIS NOSTRUD EXERCITATION
                                  </span>
                                  <span class="switchText">Duis aute irure dolor in reprehenderit in voluptate velit esse</span>
                                </div>
                              </div>
                              <div class="col-auto">
                                <span class="switch">
                                  <input type="checkbox" class="switch" id="switch-mobileNotification-5">
                                  <label for="switch-mobileNotification-5"></label>
                                </span>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
