<style>
body {
	background-image: none;
	background-color: #000;
}
</style>
<section>
  <div class="container">
    <div class="dBoardSection">
      <div class="row no-gutters">
        <div class="col-lg-auto">
          <div class="dbSidebarCol">
            <div class="dbSidebar">
              <h4 class="pb-md-4 pt-md-4 chateText">CHAT<span class="chatIcon"><img src="assets/settings.png" alt="..."></span></h4>
              <ul class="tabs">
                <li rel="tab1" class="active"><a href="javascript:void(0)"><span class="dbLinkImg"><img class="brleft" src="assets/userimg.png" alt="..." width="18"></span> <span>Name A</span><span class="dotsImg"><img src="assets/optiondots.svg" alt="..."></span></a></li>
                <li rel="tab2"><a href="javascript:void(0)"><span class="dbLinkImg"><img class="brleft" src="assets/userimg.png" alt="..." width="18"></span> <span>Netizen B</span></a></li>
                <li rel="tab3"><a href="javascript:void(0)"><span class="dbLinkImg"><img class="brleft" src="assets/userimg.png" alt="..." width="18"></span> <span>Samle of long nam...</span></a></li>
                <li rel="tab4"><a href="javascript:void(0)"><span class="dbLinkImg"><img class="brleft" src="assets/userimg.png" alt="..." width="18"></span> <span>Moderately long</span></a></li>
                <li rel="tab5"><a href="javascript:void(0)"><span class="dbLinkImg"><img class="brleft" src="assets/userimg.png" alt="..." width="18"></span> <span>Netizen C</span></a></li>
                <li rel="tab6"><a href="javascript:void(0)"><span class="dbLinkImg"><img class="brleft" src="assets/userimg.png" alt="..." width="18"></span> <span>Samle of long nam...</span></a></li>
                <li rel="tab7"><a href="javascript:void(0)"><span class="dbLinkImg"><img class="brleft" src="assets/userimg.png" alt="..." width="18"></span> <span>Moderately long</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg">
          <div class="chatBgCol">
            <div class="chatBodr">
              <div class="dbContentCol content mCustomScrollbar" id="content-1">
                <div class="tab_container">
                  <h3 class="d_active tab_drawer_heading" rel="tab1">
                    <div class="tabPannel_heading">
                      <span class="leftTabImg"><img class="brleft" src="assets/userimg.png" alt="..." width="22"></span>
                      <span>Name A</span><span class="dotsImg"><img src="assets/optiondots.svg" alt="..."></span>
                    </div>
                  </h3>
                  <div id="tab1" class="tab_content">
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab_container">
                  <h3 class="tab_drawer_heading" rel="tab2">
                    <div class="tabPannel_heading">
                      <span class="leftTabImg"><img class="brleft" src="assets/userimg.png" alt="..." width="22"></span>
                      <span>Netizen B</span><span class="dotsImg"><img src="assets/optiondots.svg" alt="..."></span>
                    </div>
                  </h3>
                  <div id="tab2" class="tab_content">
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img  class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img  class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img  class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img  class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img  class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img  class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img  class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img  class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab_container">
                  <h3 class="tab_drawer_heading" rel="tab3">
                    <div class="tabPannel_heading">
                      <span class="leftTabImg"><img class="brleft" src="assets/userimg.png" alt="..." width="22"></span>
                      <span>Samle of long nam...</span><span class="dotsImg"><img src="assets/optiondots.svg" alt="..."></span>
                    </div>
                  </h3>
                  <div id="tab3" class="tab_content">
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img  class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img  class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img  class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img  class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab_container">
                  <h3 class="tab_drawer_heading" rel="tab4">
                    <div class="tabPannel_heading">
                      <span class="leftTabImg"><img class="brleft" src="assets/userimg.png" alt="..." width="22"></span>
                      <span>Moderately long</span><span class="dotsImg"><img src="assets/optiondots.svg" alt="..."></span>
                    </div>
                  </h3>
                  <div id="tab4" class="tab_content">
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab_container">
                  <h3 class="tab_drawer_heading" rel="tab5">
                    <div class="tabPannel_heading">
                      <span class="leftTabImg"><img class="brleft" src="assets/userimg.png" alt="..." width="22"></span>
                      <span>Netizen C</span><span class="dotsImg"><img src="assets/optiondots.svg" alt="..."></span>
                    </div>
                  </h3>
                  <div id="tab5" class="tab_content">
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab_container">
                  <h3 class="tab_drawer_heading" rel="tab6">
                    <div class="tabPannel_heading">
                      <span class="leftTabImg"><img class="brleft" src="assets/userimg.png" alt="..." width="22"></span>
                      <span>Samle of long nam...</span><span class="dotsImg"><img src="assets/optiondots.svg" alt="..."></span>
                    </div>
                  </h3>
                  <div id="tab6" class="tab_content">
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab_container">
                  <h3 class="tab_drawer_heading" rel="tab7">
                    <div class="tabPannel_heading">
                      <span class="leftTabImg"><img class="brleft" src="assets/userimg.png" alt="..." width="22"></span>
                      <span>Moderately long</span><span class="dotsImg"><img src="assets/optiondots.svg" alt="..."></span>
                    </div>
                  </h3>
                  <div id="tab7" class="tab_content">
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab_row">
                      <div class="tab_col leftTabCol">
                        <div class="tabInfo tabInfoGreen">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <div class="tab_col rightTabCol">
                        <div class="tabInfo tabInfoblue">
                          <span class="tabLeftImg"><img class="brleft" src="assets/userimg.png" alt=""></span>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="chat_footer">
                <div class="row align-items-center">
                  <div class="col">
                    <div class="typeChat">
                      <img class="brleft" src="assets/userimg.png" alt="...">
                      <span class="typeText">Type to chat</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="chatSend">
                      <button type="button" class="btn btn-outline-primary btn-sm" name="button">Send</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= content_for :tail do %>
<script>
// tabbed content
 // http://www.entheosweb.com/tutorials/css/tabs.asp
 $(".tab_content").hide();
 $(".tab_content:first").show();

/* if in tab mode */
 $("ul.tabs li").click(function() {

   $(".tab_content").hide();
   var activeTab = $(this).attr("rel");
   $("#"+activeTab).fadeIn();

   $("ul.tabs li").removeClass("active");
   $(this).addClass("active");

 $(".tab_drawer_heading").removeClass("d_active");
 $(".tab_drawer_heading[rel^='"+activeTab+"']").addClass("d_active");

 });
/* if in drawer mode */
$(".tab_drawer_heading").click(function() {

   $(".tab_content").hide();
   var d_activeTab = $(this).attr("rel");
   $("#"+d_activeTab).fadeIn();

 $(".tab_drawer_heading").removeClass("d_active");
   $(this).addClass("d_active");

 $("ul.tabs li").removeClass("active");
 $("ul.tabs li[rel^='"+d_activeTab+"']").addClass("active");
 });


/* Extra class "tab_last"
  to add border to right side
  of last tab */
$('ul.tabs li').last().addClass("tab_last");

</script>
<% end %>

