<section class="profile_dashboard">
  <div class="container">
    <div class="dBoardSection">
      <div class="row no-gutters">
				<%= render "home/profiles/sidebar_dashboard" %>
        <div class="col-lg">
          <div class="dbContentColBanner">
            <img src="assets/db-banner-img.jpg" alt="...">
          </div>
          <div class="dbContentCol">
            <div class="titleStyle pb-4">
              <h4>ANALYTICS</h4>
              <p class="mt-2 pt-5">There is a delay 1 hour between the time when data is record and the time when the data is displayed</p>
            </div>

            <div class="row">
              <div class="col-md-4 my-3">
                <div class="listCard overflowHdn borderRed h-100">
                  <ul class="leftBorderList">
                    <li>
                      <a href="javascript:void(0)" class="fullLink"></a>
                      <div class="form-row">
                        <div class="col">Current View</div>
                        <div class="col-auto"> <span class="countTag">0</span></div>
                      </div>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="fullLink"></a>
                      <div class="form-row">
                        <div class="col">Views Today</div>
                        <div class="col-auto"> <span class="countTag">0</span></div>
                      </div>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="fullLink"></a>
                      <div class="form-row">
                        <div class="col">Display Today</div>
                        <div class="col-auto"> <span class="countTag">0</span></div>
                      </div>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="fullLink"></a>
                      <div class="form-row">
                        <div class="col">Plays Request Today</div>
                        <div class="col-auto"> <span class="countTag">0</span></div>
                      </div>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="fullLink"></a>
                      <div class="form-row">
                        <div class="col">Video Starts Today</div>
                        <div class="col-auto"> <span class="countTag">0</span></div>
                      </div>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="fullLink"></a>
                      <div class="form-row">
                        <div class="col">Play Conversion Rate</div>
                        <div class="col-auto"> <span class="countTag">0%</span></div>
                      </div>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="fullLink"></a>
                      <div class="form-row">
                        <div class="col">Video Conversion Rate</div>
                        <div class="col-auto"> <span class="countTag">0%</span></div>
                      </div>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="fullLink"></a>
                      <div class="form-row">
                        <div class="col">AVG. Playthrough</div>
                        <div class="col-auto"> <span class="countTag">0%</span></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4 my-3">
                <div class="listCard borderGreen h-100">
                  <ul>
                    <li><a href="javascript:void(0)" class="fullLink"></a>Popular</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4 my-3">
                <div class="listCard borderBlue h-100">
                  <ul>
                    <li><a href="javascript:void(0)" class="fullLink"></a>Trending Past</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="py-4 py-xl-5 my-3">
              <div class="xsTitleCol py-3 pb-xl-5">
                <h5 class="xsTitle">Concurrent users</h5>
              </div>
              <div class="concurrentUsersCol">
                <img src="assets/concurrent-users-graph.png" alt="...">
              </div>
            </div>

            <div class="py-4 py-xl-5 my-3">
              <div class="xsTitleCol py-3 pb-xl-5">
                <h5 class="xsTitle">Top 10 Country View</h5>
              </div>
              <div class="concurrentUsersCol">
                <img src="assets/map-img.png" alt="...">
              </div>
            </div>

            <div class="py-4 py-xl-5 my-3">
              <div class="row">
                <div class="col-lg-8 my-3">
                  <div class="uniqueUsersGraph">
                    <img src="assets/unique-users-graph.png" alt="...">
                  </div>
                </div>
                <div class="col-lg-4 my-3">
                  <div class="listCard borderGreen h-100">
                    <ul>
                      <li><a href="javascript:void(0)" class="fullLink"></a>Top Content</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
