<%= render "home/profiles/banner" %>

<section>
  <div class="sectionSpace votingBg">
    <div class="container">
      <div class="categoryTopOptions">
        <div class="form-row align-items-center">
          <div class="col-md">
            <div class="follow-following">
              <ul>
                <li class="active">
                  <a href="javascript:;">FOLLOWERS <span class="followCount">1,7K<span></a>
                </li>
                <li>
                  <a href="javascript:;">FOLLOWING <span class="followCount">269<span></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="row align-items-center">
              <div class="col">
                <div class="gridListOption">
                  <ul>
                    <li><a href="javascript:void(0)" class="active gridOption"><img src="assets/icon-grid.png" alt="..." width="30"></a></li>
                    <li><a href="javascript:void(0)" class="listOption"><img src="assets/icon-list.png" alt="..." width="20"></a></li>
                  </ul>
                </div>
              </div>
              <div class="col">
                <div class="sortBy">
                  <a href="javascript:void(0)"><span>SORT BY</span> <span><img src="assets/icon-sortby.png" alt="..." width="16"></span></a>
                  <ul class="sortByDd">
                    <li><a href="javascript:void(0)">Option 1</a></li>
                    <li><a href="javascript:void(0)">Option 2</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="catOptionResult">
        <div class="gridView">
          <div class="row">
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Lorem</a><span class="userCheckIcon"> <img src="assets/circlecheck.svg" alt="..."></span></span>
									<span class="cardusername">1,9M Followers</span>
                  <ul class="streamerCardlist pt-2">
                    <li> <a href="javascript:void(0)"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></li>
                    <li> <a href="javascript:void(0)"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Lorem</a><span class="userCheckIcon"> <img src="assets/circlecheck.svg" alt="..."></span></span>
									<span class="cardusername">1,9M Followers</span>
                  <ul class="streamerCardlist pt-2">
                    <li> <a href="javascript:void(0)"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></li>
                    <li> <a href="javascript:void(0)"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Lorem</a><span class="userCheckIcon"> <img src="assets/circlecheck.svg" alt="..."></span></span>
									<span class="cardusername">1,9M Followers</span>
                  <ul class="streamerCardlist pt-2">
                    <li> <a href="javascript:void(0)"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></li>
                    <li> <a href="javascript:void(0)"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Lorem</a><span class="userCheckIcon"> <img src="assets/circlecheck.svg" alt="..."></span></span>
									<span class="cardusername">1,9M Followers</span>
                  <ul class="streamerCardlist pt-2">
                    <li> <a href="javascript:void(0)"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></li>
                    <li> <a href="javascript:void(0)"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Lorem</a><span class="userCheckIcon"> <img src="assets/circlecheck.svg" alt="..."></span></span>
									<span class="cardusername">1,9M Followers</span>
                  <ul class="streamerCardlist pt-2">
                    <li> <a href="javascript:void(0)"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></li>
                    <li> <a href="javascript:void(0)"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Lorem</a><span class="userCheckIcon"> <img src="assets/circlecheck.svg" alt="..."></span></span>
									<span class="cardusername">1,9M Followers</span>
                  <ul class="streamerCardlist pt-2">
                    <li> <a href="javascript:void(0)"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></li>
                    <li> <a href="javascript:void(0)"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Lorem</a><span class="userCheckIcon"> <img src="assets/circlecheck.svg" alt="..."></span></span>
									<span class="cardusername">1,9M Followers</span>
                  <ul class="streamerCardlist pt-2">
                    <li> <a href="javascript:void(0)"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></li>
                    <li> <a href="javascript:void(0)"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Lorem</a><span class="userCheckIcon"> <img src="assets/circlecheck.svg" alt="..."></span></span>
									<span class="cardusername">1,9M Followers</span>
                  <ul class="streamerCardlist pt-2">
                    <li> <a href="javascript:void(0)"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></li>
                    <li> <a href="javascript:void(0)"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Lorem</a><span class="userCheckIcon"> <img src="assets/circlecheck.svg" alt="..."></span></span>
									<span class="cardusername">1,9M Followers</span>
                  <ul class="streamerCardlist pt-2">
                    <li> <a href="javascript:void(0)"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></li>
                    <li> <a href="javascript:void(0)"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Lorem</a><span class="userCheckIcon"> <img src="assets/circlecheck.svg" alt="..."></span></span>
									<span class="cardusername">1,9M Followers</span>
                  <ul class="streamerCardlist pt-2">
                    <li> <a href="javascript:void(0)"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></li>
                    <li> <a href="javascript:void(0)"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Lorem</a><span class="userCheckIcon"> <img src="assets/circlecheck.svg" alt="..."></span></span>
									<span class="cardusername">1,9M Followers</span>
                  <ul class="streamerCardlist pt-2">
                    <li> <a href="javascript:void(0)"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></li>
                    <li> <a href="javascript:void(0)"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-2">
              <div class="cardStyle cardStyle5">
                <div class="cardImgCol mb-3">
                  <a href="javascript:void(0)"><img src="assets/streamer-img-1.jpg" alt="..."></a>
                </div>
                <div class="cardContent pr-3">
                  <span class="cardTitle text-truncate"><a href="javascript:void(0)">Lorem</a><span class="userCheckIcon"> <img src="assets/circlecheck.svg" alt="..."></span></span>
									<span class="cardusername">1,9M Followers</span>
                  <ul class="streamerCardlist pt-2">
                    <li> <a href="javascript:void(0)"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></li>
                    <li> <a href="javascript:void(0)"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></li>
                  </ul>
                  <div class="optiondots">
                    <a href="#">
                      <img src="assets/optiondots.svg" alt="" width="4">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="listView">
          <div class="table-responsive">
            <table class="table tableStyle tdAlignCenter">
              <thead>
                <tr>
                  <th scope="col" width="90"></th>
                  <th scope="col">Game</th>
                  <th scope="col">Follow</th>
                  <th scope="col">Chat</th>
                  <th scope="col">Followers</th>
                  <th scope="col" width="115"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="javascript:void(0)" class="streamerListImg"><img src="assets/streamer-img-1.jpg" alt="..."></a></td>
                  <td><span class="cardTitle">Lorem</span></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></td>
                  <td>2,8 M Followers</td>
                  <td><a href="javascript:void(0)" class="btn btn-outline-primary minWdBtn">Report</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:void(0)" class="streamerListImg"><img src="assets/streamer-img-1.jpg" alt="..."></a></td>
                  <td><span class="cardTitle">Lorem</span></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></td>
                  <td>2,8 M Followers</td>
                  <td><a href="javascript:void(0)" class="btn btn-outline-primary minWdBtn">Report</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:void(0)" class="streamerListImg"><img src="assets/streamer-img-1.jpg" alt="..."></a></td>
                  <td><span class="cardTitle">Lorem</span></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></td>
                  <td>2,8 M Followers</td>
                  <td><a href="javascript:void(0)" class="btn btn-outline-primary minWdBtn">Report</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:void(0)" class="streamerListImg"><img src="assets/streamer-img-1.jpg" alt="..."></a></td>
                  <td><span class="cardTitle">Lorem</span></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></td>
                  <td>2,8 M Followers</td>
                  <td><a href="javascript:void(0)" class="btn btn-outline-primary minWdBtn">Report</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:void(0)" class="streamerListImg"><img src="assets/streamer-img-1.jpg" alt="..."></a></td>
                  <td><span class="cardTitle">Lorem</span></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></td>
                  <td>2,8 M Followers</td>
                  <td><a href="javascript:void(0)" class="btn btn-outline-primary minWdBtn">Report</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:void(0)" class="streamerListImg"><img src="assets/streamer-img-1.jpg" alt="..."></a></td>
                  <td><span class="cardTitle">Lorem</span></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></td>
                  <td>2,8 M Followers</td>
                  <td><a href="javascript:void(0)" class="btn btn-outline-primary minWdBtn">Report</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:void(0)" class="streamerListImg"><img src="assets/streamer-img-1.jpg" alt="..."></a></td>
                  <td><span class="cardTitle">Lorem</span></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></td>
                  <td>2,8 M Followers</td>
                  <td><a href="javascript:void(0)" class="btn btn-outline-primary minWdBtn">Report</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:void(0)" class="streamerListImg"><img src="assets/streamer-img-1.jpg" alt="..."></a></td>
                  <td><span class="cardTitle">Lorem</span></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/usergreen.png" alt="..." width="12"></span> <span>Follow</span></a></td>
                  <td><a href="javascript:void(0)" class="filterLink"> <span><img src="assets/chat.png" alt="..." width="20"></span> <span>Chat</span></a></td>
                  <td>2,8 M Followers</td>
                  <td><a href="javascript:void(0)" class="btn btn-outline-primary minWdBtn">Report</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
