<%= render "home/profiles/banner" %>

<section class="profile_settings">
	<div class="container">
		<div class="dBoardSection">
			<div class="row no-gutters">
				<%= render "home/profiles/sidebar" %>
				<div class="col-lg">
					<div class="dbContentCol">
						<div class="profilesettings">
							<div class="formStyle fileuploadform">
								<label for="newEventFld" class="formLabel lgLbl text-uppercase">Profile Picture</label>
							</div>
							<div class="profileupdate">
								<div class="profileimagechange">
									<label for="profilechange" class="profilechange"><img src="assets/plus.png" width="32" alt=""></label>
									<input type="file" name="" id="profilechange" value="">
								</div>
								<div class="profilechangebtn">
									<button type="button" class="btn btn-primary btn-sm mb-4" name="button">Update</button>
									<p>File format: JPEG, PNG, GIF (max size 256x256, 10MB)</p>
								</div>
							</div>
							<div class="formStyle fileuploadform mt-5 pt-5">
								<label for="newEventFld" class="formLabel lgLbl text-uppercase">Profile Picture</label>
							</div>
							<div class="bannerupdate d-flex align-items-center">
								<div class="bannerimagechange">
									<label for="bannerchange" class="bannerchange">
										<img src="assets/bannerchange.jpg" alt="">
									</label>
									<input type="file" name="" id="bannerchange" value="">
								</div>
								<div class="bannerchangebtn">
									<button type="button" class="btn btn-outline-primary btn-sm mb-4" name="button">Update</button>
									<p>File format: JPEG, PNG, GIF (max size 256x256, 10MB)</p>
								</div>
							</div>
							<div class="formStyle fileuploadform mt-5 pt-5">
								<label for="newEventFld" class="formLabel lgLbl text-uppercase">Profile Settings</label>
							</div>
							<div class="profilesettingform formStyle mt-5 pt-2">
								<form>
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-2 formLabel lgLbl">Email</label>
										<div class="col-sm-10">
											<div class="row align-items-center">
												<div class="col-sm-7">
													<input type="text" class="form-control" id="staticEmail" value="">
												</div>
												<div class="col-sm-5">
													<label class="clrgreen labelfontmed">Resend</label>
												</div>
												<div class="col-lg-12">
													<p class="mt-3">Unverified . Verification email last sent on 00/00/0000.<br>
													This email is linked to your account.</p>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-2 formLabel lgLbl">Username</label>
										<div class="col-sm-10">
											<div class="row align-items-center">
												<div class="col-sm-7">
													<input type="text" class="form-control" id="staticEmail" value="">
												</div>
												<div class="col-sm-5">
													<label class="clrgreen labelfontmed"><img width="19" src="assets/available.png" alt=""><span>Available</span></label>
												</div>
												<div class="col-lg-12">
													<p class="mt-3">You must have a verified email to update your username.</p>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-2 formLabel lgLbl">Display Name</label>
										<div class="col-sm-10">
											<div class="row align-items-center">
												<div class="col-sm-7">
													<input type="text" class="form-control" id="staticEmail" value="">
												</div>
												<div class="col-sm-5">
													<label class="clrred labelfontmed"><img width="19" src="assets/unavailable.png" alt=""><span>Not Available</span></label>
												</div>
												<div class="col-lg-12">
													<p class="mt-3">Customize capitalization for username.</p>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div class="formStyle fileuploadform mt-5 pt-5">
								<label for="newEventFld" class="formLabel lgLbl text-uppercase">Profile Bio</label>
							</div>
							<div class="profilesettingform formStyle mt-5 pt-2">
								<form>
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-2 formLabel lgLbl">About</label>
										<div class="col-sm-10">
											<div class="row align-items-center">
												<div class="col-sm-10">
													<textarea name="name" class="form-control" rows="8" cols="80"></textarea>
												</div>
												<div class="col-sm-2">
													<label class="clrgreen labelfontmed"><a href="#">Edit</a></label>
												</div>
												<div class="col-lg-12">
													<p class="mt-3">Fewer than 300 characters.</p>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-2 formLabel lgLbl">Status</label>
										<div class="col-sm-10">
											<div class="row align-items-center">
												<div class="col-sm-10">
													<textarea name="name" class="form-control textareasmall" rows="8" cols="80"></textarea>
												</div>
												<div class="col-sm-2">
													<label class="clrgreen labelfontmed"><a href="#">Edit</a></label>
												</div>
												<div class="col-lg-12">
													<p class="mt-3">Fewer than 150 characters.</p>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-2 formLabel lgLbl">Specs</label>
										<div class="col-sm-10">
											<div class="row align-items-center">
												<div class="col-sm-10">
													<textarea name="name" class="form-control textareasmall" rows="8" cols="80"></textarea>
												</div>
												<div class="col-sm-2">
													<label class="clrgreen labelfontmed"><a href="#">Edit</a></label>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-2 formLabel lgLbl">Social Media</label>
										<div class="col-sm-10 socialmediasetting">
											<div class="row mb-4 mb-md-2 align-items-center">
												<div class="col-sm-auto colauto d-flex align-items-center">
													<div class="cstmcheck">
														<input type="checkbox" name="" id="Facebook" class="cstmcheckbox" value="">
														<label for="Facebook"></label>
													</div>
													<span>Facebook</span>
												</div>
												<div class="col-md-6 col-10">
													<input type="text" class="form-control input-sm" name="" value="">
												</div>
												<div class="col-sm-2 col-2">
													<label class="clrgreen labelfontmed"><a href="#">Edit</a></label>
												</div>
											</div>
											<div class="row mb-4 mb-md-2 align-items-center">
												<div class="col-sm-auto colauto d-flex align-items-center">
													<div class="cstmcheck">
														<input type="checkbox" name="" id="Instagram" class="cstmcheckbox" value="">
														<label for="Instagram"></label>
													</div>
													<span>Instagram</span>
												</div>
												<div class="col-md-6 col-10">
													<input type="text" class="form-control input-sm" name="" value="">
												</div>
												<div class="col-sm-2 col-2">
													<label class="clrgreen labelfontmed"><a href="#">Edit</a></label>
												</div>
											</div>
											<div class="row mb-4 mb-md-2 align-items-center">
												<div class="col-sm-auto colauto d-flex align-items-center">
													<div class="cstmcheck">
														<input type="checkbox" name="" id="Youtube" class="cstmcheckbox" value="">
														<label for="Youtube"></label>
													</div>
													<span>Youtube</span>
												</div>
												<div class="col-md-6 col-10">
													<input type="text" class="form-control input-sm" name="" value="">
												</div>
												<div class="col-sm-2 col-2">
													<label class="clrgreen labelfontmed"><a href="#">Edit</a></label>
												</div>
											</div>
											<div class="row mb-4 mb-md-2 align-items-center">
												<div class="col-sm-auto colauto d-flex align-items-center">
													<div class="cstmcheck">
														<input type="checkbox" name="" id="Twitter" class="cstmcheckbox" value="">
														<label for="Twitter"></label>
													</div>
													<span>Twitter</span>
												</div>
												<div class="col-md-6 col-10">
													<input type="text" class="form-control input-sm" name="" value="">
												</div>
												<div class="col-sm-2 col-2">
													<label class="clrgreen labelfontmed"><a href="#">Edit</a></label>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-2 formLabel lgLbl">Donate</label>
										<div class="col-sm-10">
											<div class="row align-items-center">
												<div class="col-sm-10">
													<textarea name="name" class="form-control" rows="8" cols="80"></textarea>
												</div>
												<div class="col-sm-2">
													<label class="clrgreen labelfontmed"><a href="#">Edit</a></label>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-2 formLabel lgLbl">Rules</label>
										<div class="col-sm-10">
											<div class="row align-items-center">
												<div class="col-sm-10">
													<textarea name="name" class="form-control" rows="8" cols="80"></textarea>
												</div>
												<div class="col-sm-2">
													<label class="clrgreen labelfontmed"><a href="#">Edit</a></label>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-2 formLabel lgLbl">Merchandise</label>
										<div class="col-sm-10">
											<div class="profileupdate mt-0">
												<div class="profileimagechange">
													<label for="profilechange" class="profilechange"><img src="assets/plus.png" width="32" alt=""></label>
													<input type="file" name="" id="profilechange" value="">
												</div>
												<div class="profilechangebtn">
													<button type="button" class="btn btn-primary btn-sm mb-4" name="button">Upload</button>
													<p>File format: JPEG, PNG, GIF (max size 256x256, 10MB)</p>
												</div>
											</div>
											<div class="row align-items-center mt-4">
												<div class="col-sm-10">
													<input type="text" class="form-control text-truncate" id="" value="https://longurlmaker.com/go?id=31farZreachingYATUC1G8L683farawayav1403farZoffXl…">
												</div>
												<div class="col-sm-2">
													<label class="clrgreen labelfontmed"><a href="#">Edit</a></label>
												</div>
											</div>
											<div class="row align-items-center mt-4">
												<div class="col-sm-10">
													<textarea name="name" class="form-control" rows="8" cols="80" placeholder="Describe your Merchandise"></textarea>
												</div>
												<div class="col-sm-2">
													<label class="clrgreen labelfontmed"><a href="#">Edit</a></label>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group row mt-5 pt-5">
										<label for="staticEmail" class="col-sm-2 formLabel lgLbl"></label>
										<div class="col-sm-10">
											<div class="profilesettingsbtn">
												<button type="button" name="button" class="btn btn-outline-primary">Save</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
