<%= render "home/profiles/banner" %>

<section class="profile_settings">
  <div class="container">
    <div class="dBoardSection">
      <div class="row no-gutters">
				<%= render "home/profiles/sidebar" %>
        <div class="col-lg">
          <div class="dbContentCol">
            <div class="verfiContent rowBox">
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <form>
              <div class="rowBox2 mt-5">
                <div class="formStyle fileuploadform pb-2">
                  <label class="formLabel lgLbl text-uppercase">PROFILE</label>
                </div>
                <div class="formStyle">
                  <div class="formField">
                    <div class="row justify-content-md-end">
                      <div class="col-lg-10">
                        <div class="form-row">
                          <div class="col-sm-3">
                            <label class="cstmlabel3 labelStyle" for="username">Username</label>
                          </div>
                          <div class="col-8 col-sm-7">
                            <div class="formInput">
                              <input type="text" class="form-control" id="username" value="">
                              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                            </div>
                          </div>
                          <div class="col-4 col-sm-2">
                            <div class="cstmcheck middleCheck">
                              <input type="checkbox" name="" id="available" class="cstmcheckbox">
                              <label for="available" class="clrgreen labelfontmed">
                                <span class="editable">Available</span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="formField">
                    <div class="row justify-content-md-end">
                      <div class="col-lg-10">
                        <div class="form-row">
                          <div class="col-sm-3">
                            <label class="cstmlabel3 labelStyle" for="displayname">Display Name</label>
                          </div>
                          <div class="col-8 col-sm-7">
                            <div class="formInput">
                              <input type="text" class="form-control" id="displayname" value="">
                              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                            </div>
                          </div>
                          <div class="col-4 col-sm-2">
                            <div class="cstmcheck middleCheck">
                              <input type="checkbox" name="" id="available2" class="cstmcheckbox">
                              <label for="available2" class="clrgreen labelfontmed">
                                <span class="editable">Available</span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="formField">
                    <div class="row justify-content-md-end">
                      <div class="col-lg-10">
                        <div class="form-row">
                          <div class="col-sm-3">
                            <label class="cstmlabel3 labelStyle" for="email">Email</label>
                          </div>
                          <div class="col-8 col-sm-7">
                            <div class="formInput">
                              <input type="email" class="form-control" id="email" value="">
                              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                            </div>
                          </div>
                          <div class="col-4 col-sm-2">
                            <div class="cstmcheck middleCheck">
                              <input type="checkbox" name="" id="reset" class="cstmcheckbox">
                              <label for="reset" class="clrgreen labelfontmed">
                                <span class="editable">Resend</span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rowBox2 mt-5">
              <div class="formStyle fileuploadform pb-2">
                <label class="formLabel lgLbl text-uppercase">PHOTO ID</label>
              </div>
              <div class="photoBlock">
                <div class="row justify-content-end">
                  <div class="col-lg-10">
                    <div class="form-row">
                      <div class="col-lg-3">
                        <label class="cstmlabel4">Attached a photo <br> of your ID</label>
                      </div>
                      <div class="col-lg-8">
                        <div class="uploadRightSide">
                          <div class="uploadColumn">
                            <label for="uploadFile">
                              <span class="btn btn-primary uploadTitle"><strong>Upload</strong></span> <span class="choosentext clrgreen"><strong>Choose file.</strong> </span>
                            </label>
                            <input type="file" class="form-control" id="uploadFile">
                            <span class="extensionFileName"> File format: JPEG, PNG, GIF (max size 10MB)</span>
                          </div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                          <div class="profilesettingsbtn">
                            <button type="submit" class="btn btn-outline-primary">Submit Form</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
