<section>
  <div class="sectionSpace">
    <div class="container">
      <div class="form-row">
        <div class="col">
          <div class="titleStyle streamingsubtitle">
            <h4>BROADCAST WHILE YOU PLAY</h4>
						<p class="mt-5 pt-5">Here are the most common tools for broadcasting. For more info, <br/>check out the <a href="#">Guideline</a> Page.</p>
          </div>
        </div>
      </div>
      <div class="form-row mt-5">
        <div class="col">
          <div class="titleStyle streamingsubtitle">
            <h5>Recommend for mobile</h5>
          </div>
        </div>
      </div>
      <div class="form-row mt-5">
        <div class="col-sm-6 col-lg-3 mb-3">
          <div class="streaminggrid redborder">
            <div class="streamingimg mb-5 pb-5">
              <img src="assets/player.png" alt="">
            </div>
            <div class="streamingcontent">
              <p>Player.me</p>
              <a href="https://player.me/" class="mb-4">https://player.me/</a>
              <p class="mt-3">Free, easy-to-use, all-in-one application for streaming and recording. Includes thousands of professionally designed overlays with alerts, a stream dashboard for tracking events, live stream chat and scene switching.</p>
            </div>
            <div class="form-row recommendbtn mt-5 pt-5">
              <div class="col-sm-6">
                <a href="#" class="btn btn-outline-primary">Download</a>
              </div>
              <div class="col-sm-6">
                <a href="#" class="btn btn-outline-primary blueclr">Connect to Gox</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-3">
          <div class="streaminggrid greenborder">
            <div class="streamingimg mb-5 pb-5">
              <img src="assets/obs.jpg" alt="">
            </div>
            <div class="streamingcontent">
              <p>Streamlabs OBS</p>
              <a href="https://streamlabs.com/streamlabs-obs/" class="mb-4">https://streamlabs.com/streamlabs-obs/</a>
              <p class="mt-3">Streamlabs OBS is free, open source, and easy way to get started streaming. The app is built on top of OBS with a whole lot of exciting features: facemasks, built-in widgets & chat, game specific encoders and thousands of free overlays and themes</p>
            </div>
            <div class="form-row recommendbtn mt-5 pt-5">
              <div class="col-sm-6">
                <a href="#" class="btn btn-outline-primary">Download</a>
              </div>
              <div class="col-sm-6">
                <a href="#" class="btn btn-outline-primary blueclr">Connect to Gox</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-3">
          <div class="streaminggrid blueborder">
            <div class="streamingimg mb-5 pb-5">
              <img src="assets/xsplit.png" alt="">
            </div>
            <div class="streamingcontent">
              <p>XSplit Broadcaster</p>
              <a href="https://www.xsplit.com/partners/twitch" class="mb-4">https://www.xsplit.com/partners/twitch</a>
              <p class="mt-3">XSplit is a free, highly customizable, and powerful suite of applications to broadcast to Twitch. Whether creating a live stream or editing/uploading clips, it is easy to get started.</p>
            </div>
            <div class="form-row recommendbtn mt-5 pt-5">
              <div class="col-sm-6">
                <a href="#" class="btn btn-outline-primary">Download</a>
              </div>
              <div class="col-sm-6">
                <a href="#" class="btn btn-outline-primary blueclr">Connect to Gox</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-3">
          <div class="streaminggrid redborder">
            <div class="streamingimg mb-5 pb-5">
              <img src="assets/broadcast.png" alt="">
            </div>
            <div class="streamingcontent">
              <p>Open Broadcast Software</p>
              <a href="http://obsproject.com/" class="mb-4">http://obsproject.com/</a>
              <p class="mt-3">Free and open source software for recording and live streaming. Source code is available to everyone to contribute and improve.</p>
            </div>
            <div class="form-row recommendbtn mt-5 pt-5">
              <div class="col-sm-6">
                <a href="#" class="btn btn-outline-primary">Download</a>
              </div>
              <div class="col-sm-6">
                <a href="#" class="btn btn-outline-primary blueclr">Connect to Gox</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row mt-5 pt-5">
        <div class="col">
          <div class="titleStyle streamingsubtitle">
            <h5>Recommend for Desktop</h5>
          </div>
        </div>
      </div>
      <div class="form-row mt-5 mb-5">
        <div class="col-sm-6 col-lg-3 mb-3">
          <div class="streaminggrid redborder">
            <div class="streamingimg mb-5 pb-5">
              <img src="assets/streamlabs.png" alt="">
            </div>
            <div class="streamingcontent">
              <p>Streamlabs</p>
              <a href="https://streamlabs.com/" class="mb-4">https://streamlabs.com/</a>
              <p class="mt-3">Level up your stream with alerts, donations, and 20+ interactive widgets.</p>
            </div>
            <div class="form-row recommendbtn mt-5 pt-5">
              <div class="col-sm-6">
                <a href="#" class="btn btn-outline-primary">Download</a>
              </div>
              <div class="col-sm-6">
                <a href="#" class="btn btn-outline-primary blueclr">Connect to Gox</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-3">
          <div class="streaminggrid greenborder">
            <div class="streamingimg mb-5 pb-5">
              <img src="assets/streamelements.png" alt="">
            </div>
            <div class="streamingcontent">
              <p>StreamElements</p>
              <a href="https://streamelements.com/" class="mb-4">https://streamelements.com/</a>
              <p class="mt-3">A full suite for all your streaming needs: Bot, Overlays, Loyalty points, Giveaways and much more for new and veteran streamers alike.</p>
            </div>
            <div class="form-row recommendbtn mt-5 pt-5">
              <div class="col-sm-6">
                <a href="#" class="btn btn-outline-primary">Download</a>
              </div>
              <div class="col-sm-6">
                <a href="#" class="btn btn-outline-primary blueclr">Connect to Gox</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-3">
          <div class="streaminggrid blueborder">
            <div class="streamingimg mb-5 pb-5">
              <img src="assets/muxy.png" alt="">
            </div>
            <div class="streamingcontent">
              <p>Muxy</p>
              <a href="https://www.muxy.io/" class="mb-4">https://www.muxy.io/</a>
              <p class="mt-3">Muxy provides alerts, tips, a real-time Live Feed, Cheer visualizations, and stream analytics.</p>
            </div>
            <div class="form-row recommendbtn mt-5 pt-5">
              <div class="col-sm-6">
                <a href="#" class="btn btn-outline-primary">Download</a>
              </div>
              <div class="col-sm-6">
                <a href="#" class="btn btn-outline-primary blueclr">Connect to Gox</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-3">
          <div class="streaminggrid redborder">
            <div class="streamingimg mb-5 pb-5">
              <img src="assets/operaevent.png" alt="">
            </div>
            <div class="streamingcontent">
              <p>Opera Event</p>
              <a href="https://gather.operaevent.co" class="mb-4">https://gather.operaevent.co/</a>
              <p class="mt-3">Opera Event is a platform for arming broadcasters with the ability to engage, grow, enhance and monetize their audience.</p>
            </div>
            <div class="form-row recommendbtn mt-5 pt-5">
              <div class="col-sm-6">
                <a href="#" class="btn btn-outline-primary">Download</a>
              </div>
              <div class="col-sm-6">
                <a href="#" class="btn btn-outline-primary blueclr">Connect to Gox</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
