<%= render "home/profiles/banner" %>

<section>
  <div class="votingresult votingBg">
    <div class="container">
      <div class="form-row">
        <div class="col-lg-12">
          <div class="masonryCards mt-4">
            <ul>
              <li>
                <div class="cardStyle4">
                  <div class="titleStyle1">
                    <h4><span><span>ABOUT</span></span></h4>
                  </div>
                  <p>Lorem ipsum dolor sit amet, volumus propriae periculis qui id. Per ea lorem dolorum scripserit, periculis scripserit adversarium ne mel. No mel virtute pertinacia. volumus propriae periculis qui id. Tritani hendrerit per cu, menandri legendos ad mea. Vis in partem quaestio dissentiunt, mei quot nemore no, cu porro detracto vis. </p>
                </div>
              </li>

              <li>
                <div class="cardStyle4">
                  <div class="titleStyle1">
                    <h4><span><span>DONATE</span></span></h4>
                  </div>
                  <p>Lorem ipsum dolor sit amet, volumus propriae periculis qui id. Per ea lorem dolorum scripserit, periculis scripserit adversarium ne mel. No mel virtute pertinacia. volumus propriae periculis qui id. Tritani hendrerit per cu, menandri legendos ad mea. Vis in partem quaestio dissentiunt, mei quot nemore no, cu porro detracto vis. </p>
                  <p>No mel virtute pertinacia. volumus propriae periculis qui id. Tritani hendrerit per cu, menandri legendos ad mea.</p>
                  <p>Scripserit adversarium ne mel. No mel virtute pertinacia. volumus propriae periculis qui id. </p>
                </div>
              </li>

              <li>
                <div class="cardStyle4 greenborder">
                  <div class="titleStyle1">
                    <h4><span><span>SPECIFICATION</span></span></h4>
                  </div>
                  <p>Lorem ipsum dolor sit amet, volumus propriae periculis qui id. Per ea lorem dolorum scripserit, periculis scripserit adversarium ne mel.</p>
                  <p>No mel virtute pertinacia. volumus propriae periculis qui id. Tritani hendrerit per cu, menandri legendos ad mea. </p>
                  <p>Scripserit adversarium ne mel. No mel virtute pertinacia. volumus propriae periculis qui id. </p>
                </div>
              </li>

              <li>
                <div class="cardStyle4 greenborder">
                  <div class="titleStyle1">
                    <h4><span><span>SUBSCRIBE</span></span></h4>
                  </div>
                  <p>TWITTER : @Loremipsum <br>
                    FACEBOOK : Per ea lorem dolorum <br>
                    INSTAGRAM : @Nomelvirtute <br>
                    YOUTUBE : pertinacia. volumus <br>
                    TWITCH : pertinacia. volumus</p>
                </div>
              </li>

              <li>
                <div class="cardStyle4 blueborder">
                  <div class="titleStyle1">
                    <h4><span><span>RULES</span></span></h4>
                  </div>
                  <p>Lorem ipsum dolor sit amet, volumus propriae periculis qui id. </p>
                  <p> No mel virtute pertinacia. volumus propriae periculis qui id. Tritani hendrerit per cu, </p>
                  <p>menandri legendos ad mea. Vis in partem quaestio dissentiunt, mei quot nemore no, cu porro detracto vis. </p>
                </div>
              </li>

              <li>
                <div class="cardStyle4 blueborder">
                  <div class="titleStyle1">
                    <h4><span><span>MERCH</span></span></h4>
                  </div>
                  <div class="card4imgCol py-4 mb-2">
                    <img src="assets/tshirt.png" alt="...">
                  </div>
                  <p>Lorem ipsum dolor sit amet, volumus propriae periculis qui id. </p>
                  <a href="javascript:void(0)" class="simpleLink">www.retailshopme.com/</a>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
