<div class="avia-google-maps avia-google-maps-section main_color avia-builder-el-0  el_before_av_layout_row  avia-builder-el-first  container_wrap fullsize" style="background:url(<%= image_url('contact-us.png') %>);background-position:center;height:500px;">
</div>
<div id="av-layout-grid-1" class="av-layout-grid-container entry-content-wrapper main_color av-flex-cells    avia-builder-el-1  el_after_av_google_map  avia-builder-el-last  submenu-not-first container_wrap fullsize">
   <div class="flex_cell no_margin av_one_half  avia-builder-el-2  el_before_av_cell_one_half  avia-builder-el-first   " style="vertical-align:top; padding:30px; ">
      <div class="flex_cell_inner">
         <div style="padding-bottom:10px; " class="av-special-heading av-special-heading-h3    avia-builder-el-3  el_before_av_contact  avia-builder-el-first   ">
            <h3 class="av-special-heading-tag " itemprop="headline">Get in Touch</h3>
            <div class="special-heading-border">
               <div class="special-heading-inner-border"></div>
            </div>
         </div>
					<%= simple_form_for @contact, as: :contact, method: :post, url: contact_path, html: { class: "avia_ajax_form av-form-labels-visible avia-builder-el-4 el_after_av_heading avia-builder-el-last"} do |f| %>
            <fieldset>
               <p class=" first_form  form_element form_element_half" id="element_avia_1_1"><label for="avia_1_1">Name <abbr class="required" title="required">*</abbr></label> <input name="contact[name]" class="text_input is_empty" type="text" id="contact_name" value=""></p>
               <p class=" form_element form_element_half" id="element_avia_2_1"><label for="avia_2_1">E-Mail <abbr class="required" title="required">*</abbr></label> <input name="contact[email]" class="text_input is_email" type="text" id="contact_email" value=""></p>
               <p class=" first_form  form_element form_fullwidth" id="element_avia_3_1"><label for="avia_3_1">Subject <abbr class="required" title="required">*</abbr></label> <input name="contact[subject]" class="text_input is_empty" type="text" id="contact_subject" value=""></p>
               <p class=" first_form  form_element form_fullwidth av-last-visible-form-element" id="element_avia_4_1">	 <label for="avia_4_1" class="textare_label hidden textare_label_avia_4_1">Message <abbr class="required" title="required">*</abbr></label>	 <textarea name="contact[message]" class="text_area is_empty" cols="40" rows="7" id="contact_message"></textarea></p>
               <p class="hidden"><input type="text" name="avia_5_1" class="hidden " id="avia_5_1" value=""></p>
               <p class="form_element "><input type="hidden" value="1" name="avia_generated_form1"><input type="submit" value="Submit" class="button" data-sending-label="Sending"></p>
            </fieldset>
					<% end %>
      </div>
   </div>
   <div class="flex_cell no_margin av_one_half  avia-builder-el-5  el_after_av_cell_one_half  avia-builder-el-last   " style="vertical-align:top; padding:30px; ">
      <div class="flex_cell_inner">
         <div style="padding-bottom:10px; " class="av-special-heading av-special-heading-h3    avia-builder-el-6  el_before_av_textblock  avia-builder-el-first   ">
            <h3 class="av-special-heading-tag " itemprop="headline">Details</h3>
            <div class="special-heading-border">
               <div class="special-heading-inner-border"></div>
            </div>
         </div>
         <section class="av_textblock_section " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
            <div class="avia_textblock  " itemprop="text">
               <p><strong>D.A Photography<br>
                  E-Mail:</strong> dicky@dap.com<br>
                  <strong>Address:</strong> Jakarta Selatan, ID<br>
                  <strong>Phone:</strong> 021-777777
               </p>
            </div>
         </section>
         <div style="padding-bottom:10px; " class="av-special-heading av-special-heading-h3    avia-builder-el-8  el_after_av_textblock  el_before_av_textblock   ">
            <h3 class="av-special-heading-tag " itemprop="headline">Some legal stuff</h3>
            <div class="special-heading-border">
               <div class="special-heading-inner-border"></div>
            </div>
         </div>
         <section class="av_textblock_section " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
            <div class="avia_textblock  " itemprop="text">
               <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
               <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
            </div>
         </section>
      </div>
   </div>
</div>
