<div class="Portfolio">
	<a href="<%= project_path(picture.portfolio) %>">
		<img class="card-img" src="<%= picture.image_url(:small) %>" />
	</a>
	<div class="desc">
		<h6><%= picture.category.name %></h6>
		<h5><%= picture.portfolio.title %></h5>
	</div>
</div>
