<div class="Portfolio">
	<a href="<%= project_path(project) %>">
		<img src="<%= project.pictures.first.image_url(:small) %>" />
	</a>
	<div class="desc">
		<h5 style="color:white;"><%= project.title %></h5>
	</div>
</div>
