<section>
	<div class="portfolioSection">
		<div class="tabcols">
			<div class="tab-content" id="pills-tabContent">
				<%= render :partial => "project", :collection => @projects, :as => :project %>
			</div>
		</div>
	</div>
</section>

