<section style="padding-top:105px;">
	<div class="portfolioBanner pageContent">
		<div class="container-fluid">
			<div class="bannerinnerText">
				<h2>SSOM STUDIO PROJECTS</h2>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="portfolioSection">
		<div class="tabcols">
			<div class="container">
				<div class="tab-content" id="pills-tabContent">
					<%= render :partial => "project", :collection => @projects, :as => :project %>
				</div>
			</div>
			<div class="portBtn">
				<%= link_to "load more", projects_path(page: @projects.current_page + 1), id: "load-more-pictures", remote: true %>
			</div>
		</div>
	</div>
</section>

