<!-- Topup modal -->
<div class="modal fade modalstyle" id="topup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <button type="button" class="closemodal" data-dismiss="modal"><img width="15" src="assets/modal-close.png" alt=""></button>
      <div class="modal-body">
        <div class="modallogo text-center">
          <img src="assets/logo.svg" width="55" alt="">
        </div>
        <div class="formtitle text-center mb-5 mt-5">
          <h2>Top up</h2>
        </div>
        <div class="formStyle">
          <form>
            <div class="form-group">
              <label for="username" class="form-label">Input Nominal</label>
              <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="">
            </div>
            <div class="modalbtn text-center mt-5">
              <button type="button" class="btn minWdBtn-2 btn-primary" name="button" id="step1-btn">Next</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Step 2 -->
<div class="modal fade modalstyle" id="step2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <button type="button" class="closemodal" data-dismiss="modal"><img width="15" src="assets/modal-close.png" alt=""></button>
      <div class="modal-body">
        <div class="modallogo text-center">
          <img src="assets/logo.svg" width="55" alt="">
        </div>
        <div class="row mt-5 align-items-center">
          <div class="col-auto">
          <p class="m-0">TOTAL</p>
          </div>
          <div class="col text-right">
          <span class="modalamount">IDR 1,000,000,000.-</span>
          </div>
        </div>
        <hr>
        <div class="row mb-5">
          <div class="col-auto">
          <p class="m-0"><i>ORDER ID</i></p>
          </div>
          <div class="col text-right">
          <p class="m-0"><i>09213129387123</i></p>
          </div>
        </div>
        <div class="formStyle">
          <form>
            <div class="form-group">
              <label for="username" class="form-label">Full Name</label>
              <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="">
            </div>
            <div class="form-group">
              <label for="username" class="form-label">Phone No.</label>
              <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="">
            </div>
            <div class="form-group">
              <label for="username" class="form-label">Email</label>
              <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="">
            </div>
            <div class="form-group">
              <label for="username" class="form-label">Address</label>
              <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="">
            </div>
            <div class="modalbtn text-center mt-5">
              <button type="button" class="btn minWdBtn-2 btn-primary" name="button" id="step2-btn">Payment</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Step 3 -->
<div class="modal fade modalstyle" id="step3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <button type="button" class="closemodal" data-dismiss="modal"><img width="15" src="assets/modal-close.png" alt=""></button>
      <div class="modal-body">
        <div class="modallogo text-center">
          <img src="assets/logo.svg" width="55" alt="">
        </div>
        <ul class="modallist mt-5">
          <li>
            <a class="step3-btn" href="JavaScript:void(0)">
              <span>Lorem Ipsum</span>
              <i>Lorem Ipsum</i>
              <span class="listarrow"><img src="assets/icon-collapse.png" alt=""></span>
            </a>
          </li>
          <li>
            <a class="step3-btn" href="JavaScript:void(0)">
              <span>Lorem Ipsum</span>
              <i>Lorem Ipsum</i>
              <span class="listarrow"><img src="assets/icon-collapse.png" alt=""></span>
            </a>
          </li>
          <li>
            <a class="step3-btn" href="JavaScript:void(0)">
              <span>Lorem Ipsum</span>
              <i>Lorem Ipsum</i>
              <span class="listarrow"><img src="assets/icon-collapse.png" alt=""></span>
            </a>
          </li>
          <li>
            <a class="step3-btn" href="JavaScript:void(0)">
              <span>Lorem Ipsum</span>
              <i>Lorem Ipsum</i>
              <span class="listarrow"><img src="assets/icon-collapse.png" alt=""></span>
            </a>
          </li>
          <li>
            <a class="step3-btn" href="JavaScript:void(0)">
              <span>Lorem Ipsum</span>
              <i>Lorem Ipsum</i>
              <span class="listarrow"><img src="assets/icon-collapse.png" alt=""></span>
            </a>
          </li>
          <li>
            <a class="step3-btn" href="#">
              <span>Lorem Ipsum</span>
              <i>Lorem Ipsum</i>
              <span class="listarrow"><img src="assets/icon-collapse.png" alt=""></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Step 4 -->
<div class="modal fade modalstyle" id="step4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <button type="button" class="closemodal" data-dismiss="modal"><img width="15" src="assets/modal-close.png" alt=""></button>
      <div class="modal-body">
        <div class="modallogo text-center">
          <img src="assets/logo.svg" width="55" alt="">
        </div>
        <div class="formtitle text-center mb-3 mt-5">
          <h2>Credit Card</h2>
        </div>
        <div class="row mt-4 align-items-center">
          <div class="col-auto">
          <p class="m-0">TOTAL</p>
          </div>
          <div class="col text-right">
          <span class="modalamount">IDR 1,000,000,000.-</span>
          </div>
        </div>
        <hr>
        <div class="row mb-5 pb-4">
          <div class="col-auto">
          <p class="m-0"><i>ORDER ID</i></p>
          </div>
          <div class="col text-right">
          <p class="m-0"><i>09213129387123</i></p>
          </div>
        </div>
        <div class="formStyle mt-5">
          <form>
            <div class="form-group">
              <label for="username" class="form-label">Credit Card Number</label>
              <input type="text" class="form-control" id="creditcardnumber" aria-describedby="creditcardnumber" placeholder="">
            </div>
            <div class="form-row form-group">
              <div class="col-sm-6">
                  <label for="username" class="form-label">Expired Date</label>
                  <input type="text" class="form-control" id="email" aria-describedby="email" placeholder="">
              </div>
              <div class="col-sm-6">
                  <label for="username" class="form-label">CVV</label>
                  <input type="text" class="form-control" id="email" aria-describedby="email" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <label for="username" class="form-label">Email</label>
              <input type="text" class="form-control" id="email" aria-describedby="email" placeholder="">
            </div>
            <div class="form-group">
              <label for="username" class="form-label">Phone Number</label>
              <input type="text" class="form-control" id="phonenumber" aria-describedby="phonenumber" placeholder="">
            </div>
            <div class="modalbtn text-center mt-5">
              <button type="button" class="btn minWdBtn-2 btn-primary" name="button" id="step4-btn">Pay</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Step 5 -->
<div class="modal fade modalstyle" id="step5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <button type="button" class="closemodal" data-dismiss="modal"><img width="15" src="assets/modal-close.png" alt=""></button>
      <div class="modal-body">
        <div class="modallogo text-center">
          <img src="assets/logo.svg" width="55" alt="">
        </div>
        <div class="formtitle text-center mb-5 mt-5">
          <h2>Debit Card</h2>
        </div>
        <div class="row mt-5 align-items-center">
          <div class="col-auto">
          <p class="m-0">TOTAL</p>
          </div>
          <div class="col text-right">
          <span class="modalamount">IDR 1,000,000,000.-</span>
          </div>
        </div>
        <hr>
        <div class="row mb-5">
          <div class="col-auto">
          <p class="m-0"><i>ORDER ID</i></p>
          </div>
          <div class="col text-right">
          <p class="m-0"><i>09213129387123</i></p>
          </div>
        </div>
        <div class="modalform withoutborder">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"><a href="#Lorem1" class="active" aria-controls="Lorem1" role="tab" data-toggle="tab">Lorem1</a></li>
            <li role="presentation"><a href="#Lorem2" aria-controls="Lorem2" role="tab" data-toggle="tab">Lorem2</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active show" id="Lorem1" aria-labelledby="Lorem1">
              <ul class="modallist mt-5">
                <li>
                  <a href="JavaScript:void(0)">
                    <span>Lorem Ipsum</span>
                    <i>Lorem Ipsum</i>
                  </a>
                </li>
                <li>
                  <a href="JavaScript:void(0)">
                    <span>Lorem Ipsum</span>
                    <i>Lorem Ipsum</i>
                  </a>
                </li>
                <li>
                  <a href="JavaScript:void(0)">
                    <span>Lorem Ipsum</span>
                    <i>Lorem Ipsum</i>
                  </a>
                </li>
                <li>
                  <a href="JavaScript:void(0)">
                    <span>Lorem Ipsum</span>
                    <i>Lorem Ipsum</i>
                  </a>
                </li>
                <li>
                  <a href="JavaScript:void(0)">
                    <span>Lorem Ipsum</span>
                    <i>Lorem Ipsum</i>
                  </a>
                </li>
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="Lorem2" aria-labelledby="Lorem2">
              <ul class="modallist mt-5">
                <li>
                  <a href="JavaScript:void(0)">
                    <span>Lorem Ipsum</span>
                    <i>Lorem Ipsum</i>
                  </a>
                </li>
                <li>
                  <a href="JavaScript:void(0)">
                    <span>Lorem Ipsum</span>
                    <i>Lorem Ipsum</i>
                  </a>
                </li>
                <li>
                  <a href="JavaScript:void(0)">
                    <span>Lorem Ipsum</span>
                    <i>Lorem Ipsum</i>
                  </a>
                </li>
                <li>
                  <a href="JavaScript:void(0)">
                    <span>Lorem Ipsum</span>
                    <i>Lorem Ipsum</i>
                  </a>
                </li>
                <li>
                  <a href="JavaScript:void(0)">
                    <span>Lorem Ipsum</span>
                    <i>Lorem Ipsum</i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="modalbtn text-center mt-5">
            <button type="button" class="btn minWdBtn-2 btn-primary" name="button" id="step4-btn">Pay</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

